<div class="registration_box">
    <div class="registration_table_area">
        <div class="header_title">
            <div class="title">Faculties</div>
            <div class="add_btn">
                <button type="button" class="btn btn-danger" (click)="add_new_std()">+ Add New</button>
            </div>
            <div class="search_box">
                <input class="form-control" type="search" placeholder="Search..." aria-label="default input example">
            </div>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">S.N.</th>
                    <th scope="col">Faculty Name</th>
                    <th scope="col">Faculty Profile</th>
                    <th scope="col">Class</th>
                    <th scope="col">Salary Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Rohit Kumar</td>
                    <td>Chemistry</td>
                    <td>9th - 12th</td>
                    <td style="color: green">Paid</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Rohan Kumar</td>
                    <td>History</td>
                    <td>6th - 9th</td>
                    <td style="color: red;">Unpaid</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>rajesh</td>
                    <td style="color: red;">Pending</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Akhilesh Kumar</td>
                    <td>Angular</td>
                    <td>10th - 12th</td>
                    <td style="color: green;">Paid</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Rohit Kumar</td>
                    <td>Math</td>
                    <td>5th - 10th</td>
                    <td style="color: red;">Unpaid</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Ayush Kumar</td>
                    <td>Digital Marketing</td>
                    <td>10 + 2</td>
                    <td style="color: red;">Unpaid</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>Amarjeet Kumar</td>
                    <td>Biology</td>
                    <td>5th - 10th</td>
                    <td style="color: green;">Paid</td>
                </tr>

            </tbody>
        </table>


    </div>
</div>