<div class="student_details">
    <div class="title">
        <img src="assets/svsnn.png" alt="">
    </div>
    <div class="details">
        <!-- <div class="profile">
            <img src="{{img_url + this.student.profile}}" alt="">
        </div> -->
        <table>
            <tr>
                <th>Name</th>
                <td>{{this.user.name}}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{this.user.email}}</td>
            </tr>
            <tr>
                <th>Mobile</th>
                <td>{{this.user.mobile}}</td>
            </tr>
            <tr>
                <th>D.O.B.</th>
                <td>{{this.user.dob | date : 'dd MMM yyyy'}}</td>
            </tr>
            <tr>
                <th>Aadhar</th>
                <td>{{this.user.adhar}}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{this.user.gender}}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{this.user.role}}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{this.user.password}}</td>
            </tr>
            
        </table>
    </div>
    <div class="btns">
        <button mat-raised-button mat-dialog-close color="warn">Close</button>
    </div>
</div>