<div class="registration_form">
    <div class="form_head">
        <h3>Add New Zone</h3>
        <p mat-dialog-close>
            <mat-icon>cancel</mat-icon>
        </p>
    </div>
    <div class="form_area">
        <div class="title">Zone Details</div>

        <form [formGroup]="zoneForm">
            <mat-form-field appearance="outline">
                <mat-label>Zone Name</mat-label>
                <input matInput placeholder="Enter Zone Name" type="text" formControlName="zone_name">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Select Vehicle</mat-label>
                <mat-select multiple formControlName="vechicle_id">
                    <mat-option *ngFor="let vehicle of vehicleList" [value]="vehicle.id">{{vehicle.vehicle_name}} -
                        {{vehicle.vehicle_no}}</mat-option>
                </mat-select>
            </mat-form-field>

            <input type="number" [ngModel]="admin" formControlName="admin_id_fk" readonly hidden>
        </form>

    </div>

    <div class="btn_area">
        <button type="button" class="btn btn-danger" id="cancel" mat-dialog-close>Cancel</button>
        <button type="button" class="btn btn-primary" id="submit" (click)="onSubmit()">Submit</button>
    </div>
</div>