.registration_form {
  width: 400px;
  height: 360px;
  background-color: white;
  padding: 10px;
  overflow: auto;
}
.form_head {
  width: 100%;
  height: 50px;
  float: left;
  border-bottom: 1px solid silver;
}
.form_head h3 {
  float: left;
  padding: 5px;
  font-family: "Nunito Sans", serif;
}
.form_head p {
  float: right;
  margin-top: 5px;
}
.title {
  width: 100%;
  height: 30px;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Nunito Sans", serif;
  border-bottom: 5px linear-gradient(to right, green, lightgreen);
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 30px;
  float: left;
}
.form_area {
  width: 100%;
  height: auto;
  float: left;
}
mat-form-field {
  width: 80%;
  float: left;
  margin-left: 10%;
}
#floatingInput {
  border: 0.7px solid rgb(211, 211, 211);
}
.btn_area {
  width: 100%;
  height: 60px;
  float: left;
  padding: 20px;
}
.btn_area #cancel {
  float: left;
  margin-left: 5%;
}
.btn_area #submit {
  float: right;
  margin-right: 5%;
}

::-webkit-scrollbar {
  width: 5px;
}
