<div class="registration_box">
    <div class="registration_table_area">
        <div class="header_title">
            <div class="title">All Driver</div>
            <div class="add_btn">
                <button type="button" class="btn btn-danger" (click)="add_new_zone()">+ Add New</button>
            </div>
            <div class="search_box">
                <input class="form-control" type="search" placeholder="Search..." aria-label="default input example">
            </div>
        </div>

        <table class="table table-striped" style="text-align: center;">
            <thead>
                <tr>
                    <th scope="col">S.N.</th>
                    <th scope="col">Driver Name</th>
                    <th scope="col">Vehicle Number</th>
                    <th scope="col">Mobile Number</th>
                    <th scope="col">Aadhar Number</th>
                    <th scope="col">D.L. Number</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let driver of driverList; let i = index;">
                    <th scope="row">{{i+1}}</th>
                    <td>{{driver.driver_name}}</td>
                    <td>{{driver.vehicle_no}}</td>
                    <td>{{driver.mobile}}</td>
                    <td>{{driver.adhar}}</td>
                    <td>{{driver.dl_no}}</td>
                    <td>
                        <button mat-icon-button (click)="delete_application(driver.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>
</div>