<div class="registration_box">
  <div class="registration_table_area">
    <div class="header_title">
      <div class="title">New Applications</div>
      <div class="add_btn">
        <!-- <button type="button" class="btn btn-danger" >+ Add New</button> -->
      </div>
      <!-- <div class="search_box">
        <input class="form-control" type="search" placeholder="Search..." aria-label="default input example">
      </div> -->
    </div>

    <table class="table table-striped" style="text-align: center;">
      <thead>
        <tr>
          <th scope="col">S.N.</th>
          <th scope="col">Student Name</th>
          <th scope="col">Course Details</th>
          <th scope="col">Contact Details</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of data" [ngClass]="row.id % 2 === 0 ? 'even' : 'odd'">
          <td scope="row">1</td>
          <td>{{row.name}}</td>
          <td>LKG</td>
          <td>Hajipur</td>
          <td>
            <button mat-icon-button>
              <mat-icon>visibility</mat-icon>
            </button>
            <button mat-icon-button (click)="delete_application()">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
          </tbody>
    </table>


  </div>
</div>