<div class="registration_box">
  <div class="registration_table_area">
    <div class="header_title">
      <div class="title">New Applications</div>
      <div class="add_btn">
      </div>
    </div>

    <table class="table table-striped" style="text-align: center;">
      <thead>
        <tr>
          <th scope="col">S.N.</th>
          <th scope="col">Student Name</th>
          <th scope="col">Email</th>
          <th scope="col">Father's Name</th>
          <th scope="col">Mother's Name</th>
          <th scope="col">Mobile No.</th>
          <th scope="col">Gender</th>
          <th scope="col">Address</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let std of applicationList; let i = index">
          <td scope="row">{{i+1}}</td>
          <td>{{std.name}}</td>
          <td>{{std.email}}</td>
          <td>{{std.father_name}}</td>
          <td>{{std.mother_name}}</td>
          <td>{{std.mobile}}</td>
          <td>{{std.gender}}</td>
          <td>{{std.address}}</td>
          <td>
            <button mat-icon-button>
              <mat-icon>visibility</mat-icon>
            </button>
            <button mat-icon-button (click)="delete_application(std.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>


  </div>
</div>