<div class="admin_dashboard">

    <div class="boxes" routerLink="/faculty/faculty_homepage/assigned_batch">
        <div class="icon_area" id="icon2">
            <mat-icon>account_box</mat-icon>
        </div>
        <div class="title">Assigned Batch</div>
    </div>
    <div class="boxes" routerLink="/faculty/faculty_homepage/ftassignment">
        <div class="icon_area">
            <mat-icon>assignment</mat-icon>
        </div>
        <div class="title">Assignments</div>
    </div>
    <div class="boxes" routerLink="/faculty/faculty_homepage/ftfeestr">
        <div class="icon_area" id="icon3">
            <mat-icon>tune</mat-icon>
        </div>
        <div class="title">Fee Structure</div>
    </div>
    <div class="boxes" routerLink="/faculty/faculty_homepage/ft_exam">
        <div class="icon_area" id="icon4">
            <mat-icon>chrome_reader_mode</mat-icon>
        </div>
        <div class="title">Examinations</div>
    </div>
    <!-- <div class="boxes" routerLink="/faculty/faculty_homepage/ftsyllabus">
        <div class="icon_area" id="icon5">
            <mat-icon>library_books</mat-icon>
        </div>
        <div class="title">Syllabus</div>
    </div> -->
    <div class="boxes" routerLink="/faculty/faculty_homepage/ft_attendance">
        <div class="icon_area" id="icon6">
            <mat-icon>trending_up</mat-icon>
        </div>
        <div class="title">Attendance</div>
    </div>
    <div class="boxes" routerLink="/faculty/faculty_homepage/ftholidays">
        <div class="icon_area">
            <mat-icon>calendar_today</mat-icon>
        </div>
        <div class="title">Annual Holidays</div>
    </div>

</div>