.registration_box {
  width: 100%;
  height: calc(100vh - 64px);
  overflow: auto;
}

.registration_table_area {
  width: 94%;
  height: auto;
  float: left;
  margin: 3% 3%;
  overflow: auto;
  box-shadow: 2px 2px 4px rgb(173, 173, 173);
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}

.header_title {
  width: 100%;
  height: 60px;
  float: left;
}

.title {
  width: auto;
  height: 100%;
  float: left;
  font-family: "Nunito Sans", serif;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px;
}

.add_btn {
  width: auto;
  height: 100%;
  float: right;
}

.search_box {
  width: 250px;
  height: 100%;
  float: right;
  margin-right: 10px;
}

table button {
  width: 40px;
  height: 40px;
  margin-right: -5px;
}

table button mat-icon {
  width: auto;
  font-size: 18px;
  color: rgb(53, 51, 51);
}

table {

  thead {

    th {
      height: 45px;
      line-height: 40px;
      background-color: cadetblue;
      color: white;
      font-size: 16px;
      font-weight: 500;
    }
  }
}