<div class="registration_box">
    <div class="registration_table_area">
        <div class="header_title">
            <div class="title">All Zones</div>
            <div class="add_btn">
                <button type="button" class="btn btn-danger" (click)="add_new_zone()">+ Add New</button>
            </div>
            <div class="search_box">
                <input class="form-control" type="search" placeholder="Search..." aria-label="default input example">
            </div>
        </div>

        <table class="table table-striped" style="text-align: center;">
            <thead>
                <tr>
                    <th scope="col">S.N.</th>
                    <th scope="col">Zone Area</th>
                    <th scope="col">Vehicles</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Hajipur Zone</td>
                    <td>4</td>
                    <td>
                        <button mat-icon-button>
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <button mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="delete_application()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Mahua</td>
                    <td>4</td>
                    <td>
                        <button mat-icon-button>
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <button mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="delete_application()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Rajapakar</td>
                    <td>4</td>
                    <td>
                        <button mat-icon-button>
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <button mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="delete_application()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Lalganj</td>
                    <td>4</td>
                    <td>
                        <button mat-icon-button>
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <button mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="delete_application()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Muzaffarpur</td>
                    <td>5</td>
                    <td>
                        <button mat-icon-button>
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <button mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="delete_application()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>
</div>