.registration_box {
  width: 100%;
  height: calc(100vh - 64px);
  overflow: auto;
}

.registration_table_area {
  width: 94%;
  height: auto;
  float: left;
  margin: 3% 3%;
  overflow: auto;
  box-shadow: 2px 2px 4px rgb(173, 173, 173);
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}
.title {
  width: auto;
  height: calc(100% - 60px);
  float: left;
  font-family: "Nunito Sans", serif;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px;
}

.add_btn {
  width: 94%;
  height: 60px;
  display: flex;
  gap: 20px;
  margin: 3% 3% 0%;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  padding: 7px;
  border-radius: 5px;
  box-shadow: rgba(103, 98, 98, 0.16) 0px 1px 4px;

  button {
    width: 120px;
    height: 45px;
  }

  input {
    width: 300px;
    height: 45px;
  }
}

.search_box {
  width: 250px;
  height: 100%;
  float: right;
  margin-right: 10px;
}

table button {
  width: 40px;
  height: 40px;
  margin-right: -5px;
}

table button mat-icon {
  width: auto;
  font-size: 18px;
  color: rgb(53, 51, 51);
}

table {

  thead {

    th {
      height: 45px;
      line-height: 40px;
      background-color: cadetblue;
      color: white;
      font-size: 16px;
      font-weight: 500;
    }
  }
}