<div class="add_btn">
    <input class="form-control" type="search" placeholder="Search..." aria-label="default input example">
    <button type="button" class="btn btn-danger" (click)="add_new_subject()">+ Add New</button>
</div>
<div class="registration_box">
    <div class="registration_table_area" *ngFor="let cls of subjectList">
        <div class="title">{{cls.class}}</div>

        <table class="table table-striped" style="text-align: center;">
            <thead>
                <tr>
                    <th scope="col">S.N.</th>
                    <th scope="col">Subject Name</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sub of cls.subjects; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{sub.subject_name}}</td>
                    <td>
                        <button mat-icon-button (click)="delete_subject(sub.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>