<div class="admin_dashboard">

    <!-- <div class="boxes" routerLink="std_profile">
        <div class="icon_area" id="icon2">
            <mat-icon>account_box</mat-icon>
        </div>
        <div class="title">Profile</div>
    </div> -->
    <div class="boxes" routerLink="/student/std_homepage/assignments">
        <div class="icon_area">
            <mat-icon>assignment</mat-icon>
        </div>
        <div class="title">Assignments</div>
    </div>
    <div class="boxes" routerLink="/student/std_homepage/fee_structure">
        <div class="icon_area" id="icon3">
            <mat-icon>tune</mat-icon>
        </div>
        <div class="title">Fee Structure</div>
    </div>
    <div class="boxes" routerLink="/student/std_homepage/std_exams">
        <div class="icon_area" id="icon4">
            <mat-icon>chrome_reader_mode</mat-icon>
        </div>
        <div class="title">Examinations</div>
    </div>
    <div class="boxes" routerLink="/student/std_homepage/syllabus">
        <div class="icon_area" id="icon5">
            <mat-icon>library_books</mat-icon>
        </div>
        <div class="title">Syllabus</div>
    </div>
    <div class="boxes" routerLink="/student/std_homepage/attendance">
        <div class="icon_area" id="icon6">
            <mat-icon>trending_up</mat-icon>
        </div>
        <div class="title">Attendance</div>
    </div>
    <div class="boxes" routerLink="/student/std_homepage/std_holiday">
        <div class="icon_area">
            <mat-icon>calendar_today</mat-icon>
        </div>
        <div class="title">Annual Holidays</div>
    </div>

</div>