<div class="admin_dashboard">
    <div class="dashboard_box_area">
        <div class="boxes">
            <p>Total Attendance</p>
            <h3 style="color: yellow;">200</h3>
        </div>
        <div class="boxes">
            <p>Total Assignment</p>
            <h3 style="color: rgb(123, 157, 219);">4</h3>
        </div>
        <div class="boxes">
            <p>Total Leave</p>
            <h3 style="color: chocolate;">50</h3>
        </div>
        <div class="boxes">
            <p>Events</p>
            <h3 style="color: rgb(23, 222, 23);">10</h3>
        </div>
        <div class="boxes">
            <p>Total Dues</p>
            <h3 style="color:rgb(231, 93, 75);">10,000</h3>
        </div>
    </div>
</div>