<div class="student_details">
    <div class="title">
        <img src="assets/svsnn.png" alt="">
    </div>
    <div class="details">
        <!-- <div class="profile">
            <img src="{{img_url + this.student.profile}}" alt="">
        </div> -->
        <table>
            <tr>
                <th>Name</th>
                <td>{{this.faculty.name}}</td>
            </tr>
            <tr>
                <th>Father's Name</th>
                <td>{{this.faculty.father}}</td>
            </tr>
            <tr>
                <th>Mother's Name</th>
                <td>{{this.faculty.mother}}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{this.faculty.email}}</td>
            </tr>
            <tr>
                <th>Mobile No.</th>
                <td>{{this.faculty.contact_no}}</td>
            </tr>
            <tr>
                <th>Aadhar</th>
                <td>{{this.faculty.aadhar_no}}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{this.faculty.password}}</td>
            </tr>
            <tr>
                <th>D.O.B.</th>
                <td>{{this.faculty.dob }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{this.faculty.gender}}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{this.faculty.address}}</td>
            </tr>
            <tr>
                <th>Bank Name</th>
                <td>{{this.faculty.bank_name}}</td>
            </tr>
            <tr>
                <th>Account No.</th>
                <td>{{this.faculty.account_no}}</td>
            </tr>
            <tr>
                <th>IFSC Code</th>
                <td>{{this.faculty.ifsc_code}}</td>
            </tr>
            <tr>
                <th>Current Salary</th>
                <td>{{this.faculty.current_salary}}</td>
            </tr>
            <tr>
                <th>Last Salary</th>
                <td>{{this.faculty.last_salary}}</td>
            </tr>
            <tr>
                <th>Graduation Institute</th>
                <td>{{this.faculty.graduation_institue}}</td>
            </tr>
            <tr>
                <th>Graduation Stream</th>
                <td>{{this.faculty.grdt_stream}}</td>
            </tr>
            <tr>
                <th>Percentage</th>
                <td>{{this.faculty.grdt_percentage}}</td>
            </tr>
            <tr>
                <th>Passing Year</th>
                <td>{{this.faculty.grdt_passing_year}}</td>
            </tr>
            <tr>
                <th>Last Education</th>
                <td>{{this.faculty.last_education}}</td>
            </tr>
            <tr>
                <th>Stream</th>
                <td>{{this.faculty.last_ed_stream}}</td>
            </tr>
            <tr>
                <th>Lt. Ed. Percentage</th>
                <td>{{this.faculty.last_ed_percentage}}</td>
            </tr>
            <tr>
                <th>Previous School</th>
                <td>{{this.faculty.previous_school}}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{this.faculty.prev_designation}}</td>
            </tr>
            <tr>
                <th>Experience</th>
                <td>{{this.faculty.prev_experience}}</td>
            </tr>
            <tr>
                <th>Speciality</th>
                <td>{{this.faculty.prev_speciality}}</td>
            </tr>
        </table>
    </div>
    <div class="btns">
        <button mat-raised-button mat-dialog-close color="warn">Close</button>
    </div>
</div>