<div class="academics">
    <div class="content">
        <h2>UNIFORM</h2>
        <p>
            Our pupils are required to come In proper school uniform to the school. The school uniform for boys/girls Is
            as follows-.
        </p>
        <h2>In summer (April to September)</h2>
        <p>
            Boys: (i) Blue Half/Full Pant (ii) Orange Shirt (iii) Black Shoes, (iv) Blue Socks (v) Tie, Belt, Batch

            Girls: (i) Blue Skirt/Midy (ii) Orange Shirt (iii) Black Shoes, (iv) Full Length Blue Socks (v) Tie, Belt,
            Batch, Band, Rubber.
        </p>
        <h2>In Winter (October to March)</h2>
        <p>
            (i) Blue Half / Full Plain & ‘V’ Shape Sweater. (ii) Scarp/ Woolen Cap.

            Boy's hair should be oiled and neatly combed. Girls hair should be oiled and wear two pleated ponies
            .Wearing jewellery In school Is not allowed and girls can only wear stud earrings (one In each ear) If they
            have their ears pierced.
        </p>
    </div>
    <div class="img">
        <img src="../../../assets/gal2.webp" alt="sawami vivekanand school">
    </div>
</div>

<div class="rules" style="width: 100%;">
    <h2>School Rules</h2>
    <p><mat-icon>keyboard_arrow_right</mat-icon>&nbsp;&nbsp;
        Students are required to come to school 5mins prior to bell ring in the morning. Students won't be allowed to
        enter school gate after the assembly bell.
    </p>
    <p><mat-icon>keyboard_arrow_right</mat-icon>&nbsp;&nbsp;
        While every care is taken to prevent accidents in the school or while transporting the ward to & fro from the
        school, but accidents unfortunately happen, in that case you will be contacted and medical attention will be
        sought. The Management will not be however liable for injuries and accidents sustained by pupils in the course
        of everyday activities.
    </p>
    <p><mat-icon>keyboard_arrow_right</mat-icon>&nbsp;&nbsp;
        The fees may be enhanced by 10% to 15% annually, to enable the school to increase staff salaries (annual
        increments and associated factors) and cope with the rise in prices. The management reserves the right to
        increase the school fees during the academic year if required.
    </p>
    <p><mat-icon>keyboard_arrow_right</mat-icon>&nbsp;&nbsp;The whole school is a notobaccozone.</p>
    <p><mat-icon>keyboard_arrow_right</mat-icon>&nbsp;&nbsp;We aim to maintain a high standard of hygiene and children
        are
        encouraged to wash their hands after going to the
        toilet and before eating. The same should be follow at home also.</p>
    <p><mat-icon>keyboard_arrow_right</mat-icon>&nbsp;&nbsp;
        We do not have a central lost property box. We do however encourage parents to label their children's
        belongings. If your child does loose an item, please talk to their class teacher as soon as possible
    </p>
    <p><mat-icon>keyboard_arrow_right</mat-icon>&nbsp;&nbsp;While greater emphasis is laid on the academic progress of
        the students,
        the school provides ample scope for
        development of their creative faculties and skill in Fine Arts, Craft and other hobbies.</p>
    <p><mat-icon>keyboard_arrow_right</mat-icon>&nbsp;&nbsp;Suitable dresses and uniforms befitting various occasions
        are prescribed
        in order to inculcate sense of oneness,
        discipline and dignity among the students.</p>
    <p><mat-icon>keyboard_arrow_right</mat-icon>&nbsp;&nbsp;Discipline, being the foundation of character, forms the
        basis of school
        education. Every student is, therefore,
        expected to abide by the code of conduct and behavior throughout his stay in the school. The parents/guardians
        are expected to co-operate with the school administration in this regard.</p>
    <p><mat-icon>keyboard_arrow_right</mat-icon>&nbsp;&nbsp;All the class rooms in the school will converted to Smart
        Classrooms
        with digital tools that assist the teachers
        and cadets in enhancing the teaching-learning outcome.</p>
    <p><mat-icon>keyboard_arrow_right</mat-icon>&nbsp;&nbsp;The School also arranges educational tours, under escort to
        places of
        historical and educational interests along
        with visits to military institutions as a regular feature of their training.</p>

    <p><mat-icon>keyboard_arrow_right</mat-icon>&nbsp;&nbsp;We work very hard to ensure that all pupils are given the
        same
        opportunities and are able to access these. This
        is regardless of gender, race, religious background, financial circumstances or disabilities. We firmly believe
        that this is essential to promote a fair and just society.</p>
    <p><mat-icon>keyboard_arrow_right</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;
        It is not permissible for the students to take private tuitions from
        teachers who teach that particular student
        in the class, because it may compromise the fairness of the teacher towards rest of the students in the class.
        Parents who wish to make such arrangement for tuitions should get the prior permission written from the
        principal.</p>
</div>

<div class="rules" style="width: 100%;">
    <h2>Library Rules</h2>
    <p><mat-icon>keyboard_arrow_right</mat-icon>&nbsp;&nbsp;
        Books will be issued and returned as per rules framed by the librarian.
    </p>
    <p><mat-icon>keyboard_arrow_right</mat-icon>&nbsp;&nbsp;
        Books will be issued for a definite period of time.
    </p>
    <p><mat-icon>keyboard_arrow_right</mat-icon>&nbsp;&nbsp;
        Only one book may be issued at one time.
    </p>
    <p><mat-icon>keyboard_arrow_right</mat-icon>&nbsp;&nbsp;The student should point out any damage to the book prior to
        getting it issued in his or her name otherwise he/she will be charged for the damage.</p>
    <p><mat-icon>keyboard_arrow_right</mat-icon>&nbsp;&nbsp;Tearing, writing, scribbling or folding of pages of books
        will be considered as damage done to books.</p>
    <p><mat-icon>keyboard_arrow_right</mat-icon>&nbsp;&nbsp;
        Students losing books or damaging them will be asked to pay the cost of the books
    </p>
    <p><mat-icon>keyboard_arrow_right</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp; All library books issued to the students must
        be returned before the commencement of Half Yearly/Annual examinations and clearance slips be obtained from the
        librarian.</p>
</div>