.academics{
    width: 100%;
    height: auto;
    display: flex;

    .content{
        width: 50%;
        height: 100%;
        padding: 40px;

        h2{
            color: rgb(95, 42, 42);
        }
        p{
            font-size: 1rem;
            line-height: 30px;
        }
    }
    .img{
        width: 50%;
        height: 100%;
        padding: 30px;

        img{
            width: 100%;
            border-radius: 1rem;
        }
    }
}

.rules{
    width: 100%;
    padding: 40px;
    height: auto;

    h2{
        text-align: center;
        color: rgb(95, 42, 42);
    }
    p{
        font-size: 1rem;
        line-height: 30px;
        padding: 10px;

        mat-icon{
            margin-bottom: -7px;
        }
    }
}

@media(max-width:1000px) and (min-width:0px){
    .academics{
        flex-flow: column-reverse;

        .content{
            width: 100%;
            padding: 20px;
        }
        .img{
            width: 100%;
            padding-top: 0px;
        }
    }
    .rules{
        padding: 20px;
    }
}