<div class="registration_box">
    <div class="registration_table_area">
        <div class="header_title">
            <div class="title">All Products</div>
            <div class="add_btn">
                <button type="button" class="btn btn-danger" (click)="add_new_product()">+ Add New</button>
            </div>
            <div class="search_box">
                <input class="form-control" type="search" placeholder="Search..." aria-label="default input example">
            </div>
        </div>

        <table class="table table-striped" style="text-align: center;">
            <thead>
                <tr>
                    <th scope="col">S.N.</th>
                    <th scope="col">Mobile no.</th>
                    <th scope="col">Material Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Date</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of productList; let i = index;">
                    <th scope="row">{{i+1}}</th>
                    <td>{{product.std_mobile}}</td>
                    <td>{{product.material_name}}</td>
                    <td>{{product.material_quantity}}</td>
                    <td>{{product.total_amount}}</td>
                    <td>{{product.date}}</td>
                    <td>
                        <button mat-icon-button (click)="delete_products(product.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>