<div class="registration_box">
    <div class="registration_table_area">
        <div class="header_title">
            <div class="title">Sell Products</div>
            <div class="add_btn">
                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">View Store</button>
                &nbsp;
                <button type="button" class="btn btn-danger" (click)="add_new_product()">+ Add New</button>
            </div>
            <div class="search_box">
                <input class="form-control" type="search" placeholder="Search..." aria-label="default input example"
                    (keyup)="onSearch($event)">
            </div>
        </div>

        <table class="table table-striped" style="text-align: center;">
            <thead>
                <tr>
                    <th scope="col">S.N.</th>
                    <th scope="col">Mobile no.</th>
                    <th scope="col">Material Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Date</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of filterProduct; let i = index;">
                    <th scope="row">{{i+1}}</th>
                    <td>{{product.std_mobile}}</td>
                    <td>{{product.material_name}}</td>
                    <td>{{product.material_quantity}}</td>
                    <td>{{product.total_amount}}</td>
                    <td>{{product.date}}</td>
                    <td>
                        <button mat-icon-button (click)="delete_products(product.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="notfound" *ngIf="!filterProduct.length">
            <img src="../../../assets/noffound.png" alt="">
            <h3>No Data Found</h3>
        </div>
    </div>
</div>


<!-- right side navbar -->

<!-- <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Toggle right offcanvas</button> -->

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h2 class="offcanvas-title" id="offcanvasRightLabel">Your Store Details</h2>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"
            style="background-color: white;"></button>
    </div>
    <div class="offcanvas-body">
        <div class="product_title">
            <h3>Material Name</h3>
            <h3>Quantity</h3>
        </div>
        <div class="product_box" *ngFor="let mat of materialList">
            <h4>{{mat.material_name}}</h4>
            <!-- <h4>{{mat.material_quantity}}</h4> -->
            <!-- {{ mat.material_quantity }} - {{ productQuantityMap[mat.material_name] || 0 }} =  -->
            <span>{{ getRemainingStock(mat) }}</span>
        </div>
    </div>
</div>