<div class="registration_box">
    <div class="registration_table_area">
        <div class="header_title">
            <div class="title">Fee Structure</div>
            <div class="add_btn">
                <button type="button" class="btn btn-danger" (click)="add_fee_str()">+ Add New</button>
            </div>
            <div class="search_box">
                <input class="form-control" type="search" placeholder="Search..." aria-label="default input example">
            </div>
        </div>

        <table class="table table-striped" style="text-align: center;">
            <thead>
                <tr>
                    <th scope="col">S.N.</th>
                    <th scope="col">Class Name</th>
                    <th scope="col">Total Fees</th>
                    <th scope="col">First Installment</th>
                    <th scope="col">Second Installment</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>LKG</td>
                    <td>40,000</td>
                    <td>20,000</td>
                    <td>15,000</td>
                    <td>
                        <button mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="delete_str()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>UKG</td>
                    <td>40,000</td>
                    <td>20,000</td>
                    <td>15,000</td>
                    <td>
                        <button mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="delete_str()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>12th</td>
                    <td>80,000</td>
                    <td>40,000</td>
                    <td>30,000</td>
                    <td>
                        <button mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="delete_str()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>10th</td>
                    <td>40,000</td>
                    <td>20,000</td>
                    <td>15,000</td>
                    <td>
                        <button mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="delete_str()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>11th</td>
                    <td>60,000</td>
                    <td>30,000</td>
                    <td>20,000</td>
                    <td>
                        <button mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="delete_str()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>
</div>