<div class="registration_box">
    <div class="registration_table_area">
        <div class="header_title">
            <div class="title">Your Payment Records</div>
        </div>

        <table class="table table-striped" style="text-align: center;">
            <thead>
                <tr>
                    <th scope="col">S.N.</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Pay Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fee of FilterSalaryRecords; let i = index">
                    <th scope="row">{{i+1}}.</th>
                    <td>{{fee.amount}}</td>
                    <td>{{fee.fee_date | date : 'dd MMM yyyy'}}</td>
                </tr>

            </tbody>
        </table>

    </div>
</div>