<div class="registration_form">
    <div class="form_head">
        <h3>Add New Room</h3>
        <p mat-dialog-close>
            <mat-icon>cancel</mat-icon>
        </p>
    </div>
    <div class="form_area">
        <div class="title">Add Room Details</div>
        <form [formGroup]="Room">
            <mat-form-field appearance="outline">
                <mat-label>Room No</mat-label>
                <input matInput placeholder="Enter Room number" type="text" formControlName="room_no">
            </mat-form-field>
        </form>

    </div>

    <div class="btn_area">
        <button type="button" class="btn btn-danger" id="cancel" (click)="resetForm()">Reset</button>
        <button type="button" class="btn btn-primary" id="submit" (click)="onSubmit()">Submit</button>
    </div>
</div>