<div class="registration_box">
    <div class="registration_table_area">
        <div class="header_title">
            <div class="add_btn">
                <input class="form-control" type="search" placeholder="Search..." aria-label="default input example">
                <button type="button" class="btn btn-danger" (click)="add_new_exam()">+ Add New</button>
            </div>
            <div class="title">LKG Exams </div>
        </div>

        <table class="table table-striped" style="text-align: center;">
            <thead>
                <tr>
                    <th scope="col">S.N.</th>
                    <th scope="col">Subject Name</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>History</td>
                    <td>
                        <button mat-icon-button (click)="delete_exam()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Geography</td>
                    <td>
                        <button mat-icon-button (click)="delete_exam()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Science</td>
                    <td>
                        <button mat-icon-button (click)="delete_exam()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>English</td>
                    <td>
                        <button mat-icon-button (click)="delete_exam()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Computer</td>
                    <td>
                        <button mat-icon-button (click)="delete_exam()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>

    <div class="registration_table_area" style="margin-top: 1px;">
        <div class="header_title">
            <div class="title">UKG Exams </div>
        </div>

        <table class="table table-striped" style="text-align: center;">
            <thead>
                <tr>
                    <th scope="col">S.N.</th>
                    <th scope="col">Subject Name</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>History</td>
                    <td>
                        <button mat-icon-button (click)="delete_exam()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Geography</td>
                    <td>
                        <button mat-icon-button (click)="delete_exam()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Science</td>
                    <td>
                        <button mat-icon-button (click)="delete_exam()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>English</td>
                    <td>
                        <button mat-icon-button (click)="delete_exam()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Computer</td>
                    <td>
                        <button mat-icon-button (click)="delete_exam()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="registration_table_area" style="margin-top: 1px;">
        <div class="header_title">
            <div class="title">Class 1 Exams </div>
        </div>

        <table class="table table-striped" style="text-align: center;">
            <thead>
                <tr>
                    <th scope="col">S.N.</th>
                    <th scope="col">Subject Name</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>History</td>
                    <td>
                        <button mat-icon-button (click)="delete_exam()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Geography</td>
                    <td>
                        <button mat-icon-button (click)="delete_exam()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Science</td>
                    <td>
                        <!-- <button mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button> -->
                        <button mat-icon-button (click)="delete_exam()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>English</td>
                    <td>
                        <!-- <button mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button> -->
                        <button mat-icon-button (click)="delete_exam()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Computer</td>
                    <td>
                        <!-- <button mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button> -->
                        <button mat-icon-button (click)="delete_exam()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>