<div class="add_btn">
    <!-- <input class="form-control" type="search" placeholder="Search..." aria-label="default input example"> -->
    <button type="button" class="btn btn-danger" style="float: right;" (click)="add_new_exam()">+ Add New</button>
</div>

<div class="registration_box">
    <div class="registration_table_area" *ngFor="let exam of examList; let i = index">
        <div class="title">{{exam.class}} </div>
        <table class="table table-striped" style="text-align: center;">
            <thead>
                <tr>
                    <th scope="col">S.N.</th>
                    <th scope="col">Subject Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Timing</th>
                    <th scope="col">Passing Marks</th>
                    <th scope="col">Total marks</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of exam.examinations; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{item.subject}}</td>
                    <td>{{item.date| date : 'dd-MM-yyyy'}}</td>
                    <td>{{item.time}}</td>
                    <td>{{item.passing_makrs}}</td>
                    <td>{{item.total_marks}}</td>
                    <td>
                        <button mat-icon-button (click)="delete_exam(item.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>