<div class="registration_form">
    <div class="form_head">
        <h3>Add New Examinations</h3>
        <p mat-dialog-close>
            <mat-icon>cancel</mat-icon>
        </p>
    </div>
    <div class="form_area">
        <div class="title">Exam Details</div>

        <form [formGroup]="examinationForm">

            <mat-form-field appearance="outline">
                <mat-label>Select Class</mat-label>
                <mat-select formControlName="class">
                    <mat-option *ngFor="let cls of class" [value]="cls">{{cls}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Exam Type</mat-label>
                <mat-select formControlName="exam_type">
                    <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Select Subject</mat-label>
                <mat-select formControlName="subject">
                    <mat-option *ngFor="let sub of subjectList" [value]="sub.subject_name">{{sub.subject_name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Passing marks</mat-label>
                <input matInput placeholder="Enter Passing marks" type="text" formControlName="passing_makrs">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Total marks</mat-label>
                <input matInput placeholder="Enter total marks" type="text" formControlName="total_marks">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Date</mat-label>
                <input matInput  type="date" formControlName="date">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Timing</mat-label>
                <input matInput  type="time" formControlName="time">
            </mat-form-field>      

            <input type="number" [ngModel]="admin" readonly hidden formControlName="admin_id_fk">

        </form>

    </div>

    <div class="btn_area">
        <button type="button" class="btn btn-danger" id="cancel" (click)="resetForm()">Reset</button>
        <button type="button" class="btn btn-primary" id="submit" (click)="onSubmit()">Submit</button>
    </div>
</div>