<div class="student_details">
    <div class="title">
        <img src="assets/svsnn.png" alt="">
    </div>
    <div class="details">
        <!-- <div class="profile">
            <img src="{{img_url + this.student.profile}}" alt="">
        </div> -->
        <table>
            <tr>
                <th>Name</th>
                <td>{{this.student.name}}</td>
            </tr>
            <tr>
                <th>Father's Name</th>
                <td>{{this.student.father_name}}</td>
            </tr>
            <tr>
                <th>Mother's Name</th>
                <td>{{this.student.mother_name}}</td>
            </tr>
            <!-- <tr>
                <th>Profile</th>
                <td>
                    
                </td>
            </tr> -->
            <tr>
                <th>Email</th>
                <td>{{this.student.email}}</td>
            </tr>
            <tr>
                <th>Mobile No.</th>
                <td>{{this.student.mobile}}</td>
            </tr>
            <tr>
                <th>Aadhar</th>
                <td>{{this.student.adhar}}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{this.student.password}}</td>
            </tr>
            <tr>
                <th>Admission Date</th>
                <td>{{this.student.addmission_date }}</td>
            </tr>
            <tr>
                <th>D.O.B.</th>
                <td>{{this.student.dob}}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{this.student.gender}}</td>
            </tr>
            <tr>
                <th>Class</th>
                <td>{{this.student.class}}</td>
            </tr>
            <tr>
                <th>Roll No.</th>
                <td>{{this.student.roll_no}}</td>
            </tr>
            <tr>
                <th>Section</th>
                <td>{{this.student.section}}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{this.student.address}}</td>
            </tr>
        </table>
    </div>
    <div class="btns">
        <button mat-raised-button mat-dialog-close color="warn">Close</button>
    </div>
</div>