<header>
    <div class="contact_links">
        <div class="email">
            <a href="tel:+919931794189" title="Call us" style="display: block;">
                <mat-icon> call</mat-icon>
                +91 9931794189
            </a>
            <a href="mailto:svsnghoswar1998@gmail.com" title="Mail us" style="display: block;">
                <mat-icon> email</mat-icon>
                svsnghoswar1998{{'@'}}gmail.com
            </a>
        </div>
        <div class="socail_media_links">
            <a href="https://www.facebook.com/Macreelinfosoftpvtltd" target="_blank" style="display: block;">
                <img src="../../../assets/facebook.png" alt="macreel-facebook" title="Facebook" />
            </a>
            <a href="https://www.instagram.com/macreel_infosoft/" target="_blank" style="display: block;">
                <img src="../../../assets/instagram.png" alt="macreel-infosoft" title="Instagram" />
            </a>
            <a href="https://www.linkedin.com/company/macreel-infosoft-pvt-ltd/" target="_blank"
                style="display: block;">
                <img src="../../../assets/linkedin.png" alt="macreel-linkedin" title="Linkedin" />
            </a>
            <a href="https://www.youtube.com/@macreelinfosoft563" target="_blank" style="display: block;">
                <img src="../../../assets/youtube.png" alt="macreel-youtube" title="Youtube" />
            </a>
            <a href="https://x.com/i/flow/login?redirect_after_login=%2FMacreel_Info" target="_blank"
                style="display: block;">
                <img src="../../../assets/twitter.png" alt="macreel-twitter" title="Twitter X" />
            </a>
        </div>
    </div>
    <div class="main_head">
        <div class="logo">
            <img src="../../../assets/svsnn.png" alt="">
        </div>
        <div class="menu">
            <ul>
                <li routerLinkActive="active" routerLink="/home">Home</li>
                <li routerLinkActive="active" routerLink="/aboutus">About</li>
                <li routerLinkActive="active" routerLink="/admission">Admission</li>
                <li routerLinkActive="active" routerLink="/academics">Academics</li>
                <li routerLinkActive="active" routerLink="/gallery">Gallery</li>
                <li routerLinkActive="active" routerLink="/ourevent">Our Events</li>
                <li routerLinkActive="active" routerLink="/noticeboard">Notice Board</li>
                <li routerLinkActive="active" routerLink="/contact">Contact us</li>
            </ul>
        </div>
        <div class="logo">
            <button mat-raised-button [matMenuTriggerFor]="menu">Login | Register</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/admin/admin_login">Login as Admin</button>
                <button mat-menu-item routerLink="/faculty">Login as Faculty</button>
                <button mat-menu-item routerLink="/student">Login as Student</button>
                <!-- <button mat-menu-item>New Register</button> -->
            </mat-menu>
        </div>
        <div class="mobile_navigation">
            <button data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
                aria-controls="offcanvasWithBothOptions" class="menubtn">
                <mat-icon>menu</mat-icon>
            </button>

            <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
                aria-labelledby="offcanvasWithBothOptionsLabel">
                <div class="offcanvas-header">
                    <h2 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Swami Vivekanand Shiksha Niketan</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <button mat-button data-bs-dismiss="offcanvas" routerLink="/home">Home</button>
                    <button mat-button data-bs-dismiss="offcanvas" routerLink="/aboutus">About</button>
                    <button mat-button data-bs-dismiss="offcanvas" routerLink="/admission">Admission</button>
                    <button mat-button data-bs-dismiss="offcanvas" routerLink="/academics">Academics</button>
                    <button mat-button data-bs-dismiss="offcanvas" routerLink="/gallery">Gallery</button>
                    <button mat-button data-bs-dismiss="offcanvas" routerLink="/ourevent">Our Events</button>
                    <button mat-button data-bs-dismiss="offcanvas" routerLink="/noticeboard">Notice Board</button>
                    <button mat-button data-bs-dismiss="offcanvas" routerLink="/contact">Contact Us</button>
                    <button mat-button data-bs-dismiss="offcanvas" routerLink="/student">Student Login</button>
                    <button mat-button data-bs-dismiss="offcanvas" routerLink="/faculty">Faculty Login</button>
                </div>
            </div>
        </div>
    </div>
</header>