<header>
    <div class="contact_links">
        <div class="email">
            <a href="tel:+919931794189" title="Call us">
                <mat-icon> call</mat-icon>
                +91 9931794189
            </a>
            <a href="mailto:svsnghoswar1998@gmail.com" title="Mail us">
                <mat-icon> email</mat-icon>
                svsnghoswar1998{{'@'}}gmail.com
            </a>
        </div>
        <div class="socail_media_links">
            <a href="https://www.facebook.com/Macreelinfosoftpvtltd" target="_blank">
                <img src="../../../assets/facebook.png" alt="macreel-facebook" title="Facebook" />
            </a>
            <a href="https://www.instagram.com/macreel_infosoft/" target="_blank">
                <img src="../../../assets/instagram.png" alt="macreel-infosoft" title="Instagram" />
            </a>
            <a href="https://www.linkedin.com/company/macreel-infosoft-pvt-ltd/" target="_blank">
                <img src="../../../assets/linkedin.png" alt="macreel-linkedin" title="Linkedin" />
            </a>
            <a href="https://www.youtube.com/@macreelinfosoft563" target="_blank">
                <img src="../../../assets/youtube.png" alt="macreel-youtube" title="Youtube" />
            </a>
            <a href="https://x.com/i/flow/login?redirect_after_login=%2FMacreel_Info" target="_blank">
                <img src="../../../assets/twitter.png" alt="macreel-twitter" title="Twitter X" />
            </a>
        </div>
    </div>
    <div class="main_head">
        <div class="logo">
            <img src="../../../assets/svsnn.png" alt="">
        </div>
        <div class="menu">
            <ul>
                <li routerLink="/home">Home</li>
                <li routerLink="/aboutus">About</li>
                <li routerLink="">Admission</li>
                <li routerLink="">Academics</li>
                <li routerLink="">Gallery</li>
                <li routerLink="">Our Events</li>
                <li routerLink="">Notice Board</li>
                <li routerLink="">Contact us</li>
            </ul>
        </div>
        <div class="logo">
            <button mat-raised-button [matMenuTriggerFor]="menu">Login | Register</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Login as Faculty</button>
                <button mat-menu-item>Login as Student</button>
                <button mat-menu-item>New Register</button>
            </mat-menu>

        </div>
    </div>
</header>