header{
    width: 100%;
    height: 130px;

    .contact_links {
        width: 100%;
        height: 40px;
        float: left;
        display: flex;
        justify-content: space-between;
        background-color: rgb(28, 54, 83);
    
        .email {
          width: auto;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
    
          a {
            color: white;
            text-decoration: none;
            margin-left: 15px;
            font-size: 14px;
            padding: 25px;
    
            mat-icon {
              margin-bottom: -9px;
              font-size: 18px;
              margin-right: -7px;
              color: rgb(11, 187, 128);
            }
          }
        }
        .socail_media_links {
          width: auto;
          height: 100%;
          display: flex;
          gap: 10px;
          justify-content: center;
          align-items: center;
          margin-right: 10px;
    
          a {
            img {
              width: 25px;
              height: 25px;
              margin-top: 0px;
            }
          }
        }
      }
    .main_head{
        width: 100%;
        height: calc(100% - 40px);
        background-color: white;
        display: flex;
        justify-content: space-between;
        box-shadow: rgba(147, 147, 147, 0.2) 0px 2px 8px 0px;

        .logo{
            width: 20%;
            height: 100%;
            padding: 15px;

            img{
              width: auto;
              height: 70px;
              object-fit: contain;
            }
        }
        .menu{
            width: 70%;
            height: 100%;
        }
    }
}