<!-- <div class="wrapper">
    <h1>This will be the homepage of website</h1>
    <button routerLink="admin">Go to Admin Panel</button><br>
    <button routerLink="student">Go to Student Dashboard</button><br>
    <button routerLink="faculty">Go to Faculty Dashboard</button>
</div> -->

<div id="wrapper">
    <div class="side">
        <div id="header_area" class="side_boxes">
            <h1>
                <b>Hello,</b> Arka
            </h1>
            <p>
                Nice to have you back. what exciting today!<br>
                Get ready and contribute your lessons today.
            </p>
        </div>

        <div id="course" class="side_boxes">
            <div class="title">Today's Course</div>
            <div class="course_area">

                <div class="box">
                    <div class="progress_bar_area">
                        <img src="assets/progress.png" alt="">
                    </div>
                    <div class="course_title">
                        Biology Molecular
                    </div>
                    <div class="optisons">
                        <div class="opt">
                            <h4>
                                <mat-icon>library_books</mat-icon>20 lessions
                            </h4>
                            <h4 style="margin-left: 82px;">
                                <mat-icon>timer</mat-icon>52 min
                            </h4>
                        </div>
                        <div class="opt">
                            <h4>
                                <mat-icon>assignment</mat-icon>4 assignment
                            </h4>
                            <h4 style="margin-left: 70px;">
                                <mat-icon>people</mat-icon>200 students
                            </h4>
                        </div>
                    </div>
                    <div class="buttons_area">
                        <button>Skip</button>
                        <button>Continue</button>
                    </div>
                </div>

                <div class="box">
                    <div class="progress_bar_area">
                        <img src="assets/progress.png" alt="">
                    </div>
                    <div class="course_title">
                        Chemistry Molecular
                    </div>
                    <div class="optisons">
                        <div class="opt">
                            <h4>
                                <mat-icon>library_books</mat-icon>20 lessions
                            </h4>
                            <h4 style="margin-left: 82px;">
                                <mat-icon>timer</mat-icon>52 min
                            </h4>
                        </div>
                        <div class="opt">
                            <h4>
                                <mat-icon>assignment</mat-icon>4 assignment
                            </h4>
                            <h4 style="margin-left: 70px;">
                                <mat-icon>people</mat-icon>200 students
                            </h4>
                        </div>
                    </div>
                    <div class="buttons_area">
                        <button>Skip</button>
                        <button>Continue</button>
                    </div>
                </div>

            </div>
        </div>

        <div id="class_area" class="side_boxes">
            <div class="title">Your Class</div>
            <div class="menu">
                <ul>
                    <li>All</li>
                    <li>Design</li>
                    <li>Service</li>
                    <li>Coding</li>
                    <li><mat-icon>filter_list</mat-icon></li>
                    <li><mat-icon> local_bar</mat-icon></li>
                </ul>
            </div>
            <div class="box">
                <div class="progress_bar_area">
                    <img src="assets/images.jpg" alt="">
                </div>
                <div class="course_title">
                    Chemistry Molecular
                </div>
                <div class="optisons">
                    <div class="opt">
                        <h4>
                            <mat-icon>library_books</mat-icon>20 lessions
                        </h4>
                        <h4 style="margin-left: 82px;">
                            <mat-icon>timer</mat-icon>52 min
                        </h4>
                    </div>
                    <div class="opt">
                        <h4>
                            <mat-icon>assignment</mat-icon>4 assignment
                        </h4>
                        <h4 style="margin-left: 70px;">
                            <mat-icon>people</mat-icon>200 students
                        </h4>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="main">
        <div class="uppar_section">
            <div class="profile_section">
                <div class="profile_box">
                    <div class="cover_img">
                        <img src="assets/sss.jpeg" alt="">
                    </div>
                    <div class="profile_img">
                        <img src="assets/myresimg.png" alt="">
                    </div>
                    <div class="name">
                        <h1>Rohit Kumar</h1>
                        <p>Hajipur, Bihar</p>
                    </div>
                    <div class="client_details">
                        <div class="corse_boxes">
                            <h5>
                                <mat-icon>assignment</mat-icon>
                            </h5>
                            <h2>54</h2>
                            <p>Course</p>
                        </div>
                        <div class="corse_boxes">
                            <h5>
                                <mat-icon>assignment</mat-icon>
                            </h5>
                            <h2>04</h2>
                            <p>Certifications</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="point_area">
                <div class="point_box">
                    <div class="point_img">
                        <img src="assets/star.png" alt="">
                    </div>
                    <div class="point_title">
                        <h1>2400 XP</h1>
                        <p>Point</p>
                    </div>
                    <div class="point_btns">
                        <button>Redeem</button>
                        <button>Collect Points</button>
                    </div>
                </div>
                <div class="summary_box">
                    <div class="img_icon">
                        <img src="assets/images.jpg" alt="">
                        <mat-icon> call_made</mat-icon>
                    </div>
                    <h2>Consultation</h2>
                    <p>Get a mentor to help your learning project</p>
                </div>

                <div class="summary_box">
                    <div class="img_icon">
                        <img src="assets/images.jpg" alt="">
                        <mat-icon> call_made</mat-icon>
                    </div>
                    <h2>Set Target</h2>
                    <p>Set tearget reminders and your study timeline</p>
                </div>
            </div>
        </div>
        <div class="chart_section"></div>
    </div>
</div>