<div class="registration_box">
    <mat-toolbar>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-button (click)="onSwitch('room')" color="primary"
            [ngClass]="{'active-button': hostelRoom}">Room’s</button>
        <button mat-button (click)="onSwitch('bed')" color="primary"
            [ngClass]="{'active-button': !hostelRoom}">Bed’s</button>
    </mat-toolbar>
    <div class="registration_table_area" *ngIf="hostelRoom">
        <div class="header_title">
            <div class="title">Room Records</div>
            <div class="add_btn">
                <button type="button" class="btn btn-danger" (click)="addRoom()">+ Add New</button>
            </div>
<!-- 
            <div class="search_box">
                <input class="form-control" type="search" placeholder="Search..." aria-label="default input example">
            </div> -->


        </div>

        <table class="table table-striped" style="text-align: center;">
            <thead>
                <tr>
                    <th scope="col">S.N.</th>
                    <th scope="col">Room no</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of rooms; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{item.room_no}}</td>
                    <td>
                        <button mat-icon-button (click)="onRoomDelted(item.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>

    <div class="registration_table_area" *ngIf="!hostelRoom">
        <div class="header_title">
            <div class="title">Bed Records</div>
            <div class="add_btn">
                <button type="button" class="btn btn-danger" (click)="addBed()">+ Add New</button>
            </div>

            <!-- <div class="search_box">
                <input class="form-control" type="search" placeholder="Search..." aria-label="default input example">
            </div> -->


        </div>

        <table class="table table-striped" style="text-align: center;">
            <thead>
                <tr>
                    <th scope="col">S.N.</th>
                    <th scope="col">Bed no</th>
                    <th scope="col">Room no</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of beds; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{item.room_no}}</td>
                    <td>{{item.bed_no}}</td>
                    <td>
                        <button mat-icon-button (click)="onBedDelted(item.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>

                </tr>

            </tbody>
        </table>

    </div>

</div>