<div class="registration_box">
    <mat-toolbar>
        <button mat-button (click)="onSwitch('room')" color="primary">Room`s</button>
        <button mat-button (click)="onSwitch('bed')" color="primary">Bed`s</button>
    </mat-toolbar>
    <div class="registration_table_area" *ngIf="!hostelroom">
        <div class="header_title">
            <div class="title">Room Records</div>

            <div class="search_box">
                <input class="form-control" type="search" placeholder="Search..." aria-label="default input example">
            </div>

            <button type="button" class="btn btn-danger" (click)="addRoom()">+ Add New</button>

        </div>

        <table class="table table-striped" style="text-align: center;">
            <thead>
                <tr>
                    <th scope="col">S.N.</th>
                    <th scope="col">Room no</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of Rooms">
                    <th scope="row">1</th>
                    <td>{{item.room_no}}</td>
                    <td>Deletd</td>

                </tr>

            </tbody>
        </table>

    </div>

    <div class="registration_table_area" *ngIf="hostelroom">
        <div class="header_title">
            <div class="title">Bed Records</div>

            <div class="search_box">
                <input class="form-control" type="search" placeholder="Search..." aria-label="default input example">
            </div>
        </div>

        <table class="table table-striped" style="text-align: center;">
            <thead>
                <tr>
                    <th scope="col">S.N.</th>
                    <th scope="col">Bed no</th>
                    <th scope="col">Room no</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of Bed">
                    <th scope="row">1</th>
                    <td>{{item.room_no}}</td>
                    <td>{{item.bed_no}}</td>
                    <td>Deletd</td>
                </tr>

            </tbody>
        </table>

    </div>
</div>