<div class="registration_form">
    <div class="form_head">
        <h3>Add New Notice</h3>
        <p mat-dialog-close>
            <mat-icon>cancel</mat-icon>
        </p>
    </div>
    <div class="form_area">
        <div class="title">Notice Details</div>
        <form [formGroup]="noticeForm">
            <!-- <mat-form-field appearance="outline">
                <mat-label>Notice</mat-label>
                <input matInput placeholder="Enter Notice" type="text">
            </mat-form-field> -->

            <mat-form-field appearance="outline">
                <mat-label>Notice</mat-label>
                <textarea matInput formControlName="notice" placeholder="Describe your notice here..."></textarea>
              </mat-form-field>
            <!-- <mat-form-field appearance="outline">
                <mat-label>Date</mat-label>
                <input matInput type="date" formControlName="notice_date">
            </mat-form-field> -->

            <mat-form-field class="example-form-field" appearance="outline">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="datepicker" formControlName="notice_date">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker>
                    <mat-datepicker-actions>
                        <button mat-button matDatepickerCancel>Cancel</button>
                        <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                    </mat-datepicker-actions>
                </mat-datepicker>
            </mat-form-field>

            <input type="number" [ngModel]="admin" formControlName="admin_id_fk" readonly hidden>
        </form>
    </div>

    <div class="btn_area">
        <button type="button" class="btn btn-danger" id="cancel" (click)="resetForm()">Reset</button>
        <button type="button" class="btn btn-primary" id="submit" (click)="onSubmit()">Submit</button>
    </div>
</div>