<div class="profile_dialog">
    <div class="form_header">
        <h3>Want to Update Profile?</h3>
        <p>
            <mat-icon mat-dialog-close>cancel</mat-icon>
        </p>
    </div>
    <div class="admin_icon_name">
        <div class="admin_img">
            <img src="assets/akhileshsir.jpg" alt="">
        </div>
        <h3>Akhilesh Kumar</h3>
    </div>
    <div class="form_area">

        <div class="form-floating mb-2">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Update Email address</label>
        </div>
        <div class="form-floating mb-2">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Update Your Name</label>
        </div>
        <div class="form-floating mb-2">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Update Your Mob. No.</label>
        </div>
        <div class="form-floating mb-2">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Change Your Password</label>
        </div>

    </div>
    <div class="buttons_area">
        <button type="button" class="btn"> Logout?</button>
        <button type="button" class="btn">Save</button>
        <button type="button" class="btn">Cancel</button>
    </div>
</div>