<div class="registration_box">
    <div class="registration_table_area">
        <div class="header_title">
            <div class="title">All Admission</div>
            <div class="add_btn">
                <button type="button" class="btn btn-danger" (click)="add_new_std()">+ Add New</button>
            </div>
            <div class="search_box">
                <input class="form-control" type="text" placeholder="Search..." aria-label="default input example" (keyup)="onSearch($event)">
            </div>
        </div>

        <table class="table table-striped" style="text-align: center;">
            <thead>
                <tr>
                    <th scope="col">S.N.</th>
                    <th scope="col">Student Name</th>
                    <th scope="col">Class</th>
                    <th scope="col">Mobile </th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let std of filterStudent;let i= index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{std.name}}</td>
                    <td>{{std.class}}</td>
                    <td>{{std.mobile}}</td>
                    <td>
                        <button mat-icon-button (click)="viewStd(std)">
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <button mat-icon-button (click)="onUpdate(std)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="delete_application(std.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="notfound" *ngIf="!filterStudent.length">
            <img src="../../../assets/noffound.png" alt="">
            <h3>No Data Found</h3>
        </div>
    </div>
</div>