<div class="registration_form">
    <div class="form_head">
        <h3>Add New Role</h3>
        <p mat-dialog-close>
            <mat-icon>cancel</mat-icon>
        </p>
    </div>
    <div class="form_area">
        <div class="title">Role Details</div>
        <form [formGroup]="roleForm">
            <mat-form-field appearance="outline">
                <mat-label>Role Name</mat-label>
                <input matInput placeholder="Enter Role Name" type="text">
            </mat-form-field>
            <input type="number" [ngModel]="admin" readonly hidden>
        </form>

    </div>

    <div class="btn_area">
        <button type="button" class="btn btn-danger" id="cancel" (click)="resetForm()">Reset</button>
        <button type="button" class="btn btn-primary" id="submit" (click)="onSubmit()">Submit</button>
    </div>
</div>