<div class="registration_box">
    <div class="registration_table_area">
        <div class="header_title">
            <div class="title">All Events</div>
            <div class="add_btn">
                <button type="button" class="btn btn-danger" (click)="eventForm()">+ Add New</button>
            </div>
            <div class="search_box">
                <input class="form-control" type="" placeholder="Search..." aria-label="default input example">
            </div>
        </div>

        <table class="table table-striped" style="text-align: center;">
            <thead>
                <tr>
                    <th scope="col">S.N.</th>
                    <th scope="col">Ocassion Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let event of eventList">
                    <th scope="row">1.</th>
                    <td>{{event.ocassion_name}}</td>
                    <td>1st January</td>
                    <td>
                        <button mat-icon-button (click)="delete_application()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>

            </tbody>
        </table>


    </div>
</div>