<div class="registration_box">
    <div class="registration_table_area">
        <div class="header_title">
            <div class="title">Salary Records</div>
            <div class="add_btn">
                <button type="button" class="btn btn-danger" (click)="PayNow()">Pay Now
                    <mat-icon>payment</mat-icon></button>
            </div>
            <div class="search_box">
                <input class="form-control" type="search" placeholder="Search..." aria-label="default input example">
            </div>
        </div>

        <table class="table table-striped" style="text-align: center;">
            <thead>
                <tr>
                    <th scope="col">S.N.</th>
                    <th scope="col">Name</th>
                    <th scope="col">Contact Number</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Month</th>
                    <th scope="col">Year</th>
                    <th scope="col">Pay Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of FilterSalaryRecords">
                    <th scope="row">1</th>
                    <td>{{item.name}}</td>
                    <td>{{item.contact_no}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.month}}</td>
                    <td>{{item.year}}</td>
                    <td>{{item.cur_date}}</td>

                </tr>

            </tbody>
        </table>

    </div>
</div>