<div class="registration_box">
    <div class="registration_table_area">
        <div class="header_title">
            <div class="title">All Faculties </div>
            <div class="add_btn">
                <button type="button" class="btn btn-danger" (click)="add_new_faculty()">+ Add New</button>
            </div>
            <div class="search_box">
                <input class="form-control" type="search" placeholder="Search..." aria-label="default input example">
            </div>
        </div>

        <table class="table table-striped" style="text-align: center;">
            <thead>
                <tr>
                    <th scope="col">S.N.</th>
                    <th scope="col">Faculty Name</th>
                    <th scope="col">Subject Name</th>
                    <th scope="col">Contact Number</th>
                    <th scope="col">Salary</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ft of facultyList">
                    <th scope="row">1</th>
                    <td>{{ft.name}}</td>
                    <td>{{ft.prev_speciality}}</td>
                    <td>{{ft.contact_no}}</td>
                    <td>{{ft.current_salary}}</td>
                    <td>
                        <button mat-icon-button>
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <button mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="delete_profile()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>
</div>