<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-links">
                <h3>
                    Useful Links
                </h3>
                <ul>
                    <li>
                            <mat-icon>keyboard_arrow_right</mat-icon>
                            Admission Enquiry
                    </li>
                    <li>
                            <mat-icon>keyboard_arrow_right</mat-icon>
                            Gallery
                    </li>
                    <li>
                            <mat-icon>keyboard_arrow_right</mat-icon>
                            Downloads
                    </li>
                    <li>
                            <mat-icon>keyboard_arrow_right</mat-icon>
                            School Timing
                    </li>
                </ul>
                <p>
                    <mat-icon>access_time</mat-icon>
                    School Timing (Mon-Fri): 09:00 AM - 03:00 PM
                </p>
                <p>
                    <mat-icon>access_time</mat-icon>
                    School Timing (Sat): 09:00 AM - 03:00 PM
                </p>
            </div>
            <div class="footer-info">
                <h3>Contact Us</h3>
                <p>
                    <mat-icon> location_on</mat-icon>
                    Om Shanti Chowk, Ghoswar, Hajipur (Vaishali)
                </p>
                <p>📞 +91 9931794189</p>
                <p>
                    <mat-icon> email</mat-icon>
                    svsnghoswar1998{{'@'}}gmail.com
                </p>
            </div>
            <div class="footer-social">
                <h3>Follow Us</h3>
                <div class="ssss">
                    <a href="#" class="social-icon" style="display: block;" >
                        <img src="../../../assets//facebook.png" alt="">
                    </a>
                    <a href="#" class="social-icon" style="display: block;" >
                        <img src="../../../assets/instagram.png" alt="">
                    </a>
                    <a href="#" class="social-icon" style="display: block;" >
                        <img src="../../../assets/twitter.png" alt="">
                    </a>
                    <a href="#" class="social-icon" style="display: block;" >
                        <img src="../../../assets/youtube.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 SVSN. All Rights Reserved.</p>
    </div>
</footer>