<mat-sidenav-container class="container-fluid">

    <mat-sidenav #sidebar [mode]="sidenavMode" [opened]="sidenavMode === 'side'">
        <div class="sidebar_top_logo_area">
            <img src="assets/svsnn.png" alt="">
        </div>
        <div class="sidebar_menu_area">


            <button class="btn" routerLink="/faculty/faculty_homepage/ft_dashboard" routerLinkActive="active">
                <mat-icon>dashboard</mat-icon>
                Dashboard
            </button>

            <button class="btn" routerLink="/faculty/faculty_homepage/assigned_batch" routerLinkActive="active">
                <mat-icon>assignment</mat-icon>
                Assigned Batch
            </button>

            <button class="btn" routerLink="/faculty/faculty_homepage/ftassignment" routerLinkActive="active">
                <mat-icon>assignment</mat-icon>
                Assignments
            </button>

            <button class="btn" routerLink="/faculty/faculty_homepage/ftfeestr" routerLinkActive="active">
                <mat-icon>tune</mat-icon>
                Fees Structure
            </button>

            <button class="btn" routerLink="/faculty/faculty_homepage/ft_exam" routerLinkActive="active">
                <mat-icon>chrome_reader_mode</mat-icon>
                Exams
            </button>

            <!-- <button class="btn" routerLink="/faculty/faculty_homepage/ftsyllabus" routerLinkActive="active">
                <mat-icon>library_books</mat-icon>
                Syllabus
            </button> -->

            <button class="btn" routerLink="/faculty/faculty_homepage/ft_attendance" routerLinkActive="active">
                <mat-icon>trending_up</mat-icon>
                Attendance
            </button>

            <button class="btn" routerLink="/faculty/faculty_homepage/ftholidays" routerLinkActive="active">
                <mat-icon>calendar_today</mat-icon>
                Annual Holidays
            </button>
            <button class="btn" (click)="logout()">
                <mat-icon>power_settings_new</mat-icon>
                Logout
            </button>

        </div>
    </mat-sidenav>

    <mat-sidenav-content>

        <mat-toolbar class="dashboard_top_head">
            <mat-icon (click)="sidebar.toggle()">menu</mat-icon>
                <div class="user_details_with_login_icon">
                    <div class="user_icon">
                        <img src="{{img_url + facultyLoginData.profile_img}}" alt="">
                    </div>
                    <div class="user_name">
                        {{facultyLoginData.name}}
                        <h3>Faculty</h3>
                    </div>
                </div>
        </mat-toolbar>

        <div class="main">
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>