<div class="admin_dashboard">
    <div class="dashboard_box_area">
        <div class="boxes">
            <p>Total Admissions</p>
            <h3 style="color: yellow;">{{allAdmissions}}</h3>
        </div>
        <div class="boxes">
            <p>Total Registrations</p>
            <h3 style="color: rgb(123, 157, 219);">{{allApplications}}</h3>
        </div>
        <div class="boxes">
            <p>Total Employee</p>
            <h3 style="color: rgb(231, 93, 75);">
                {{allEmployee}}
            </h3>
        </div>
        <div class="boxes">
            <p>Total Faculties</p>
            <h3 style="color: rgb(23, 222, 23);">{{faculty}}</h3>
        </div>
        <div class="boxes">
            <p>Total Vehicle</p>
            <h3 style="color: chocolate;">{{allVehicle}}</h3>
        </div>
    </div>

    <div class="chart_data_area">
        <div class="cboxes" id="recent_enrolments_area">
            <div class="box_title">Recent <font style="color: rgb(218, 137, 7);">Enrolments</font>
            </div>
            <div class="list_data">

                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item">
                        <b>Student</b>
                    </li>
                    <li class="list-group-item">
                        <b>Details</b>
                    </li>
                </ul>
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item">
                        Rohit Kumar <br>
                        &nbsp;<span>16 Jan 2025</span>
                    </li>
                    <li class="list-group-item">10th</li>
                </ul>
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item">
                        Ritesh Kumar
                        <br>
                        &nbsp;<span>20 Jan 2025</span>
                    </li>
                    <li class="list-group-item">12th</li>
                </ul>
            </div>
        </div>
        <div class="cboxes" id="notice_board_area">
            <div class="box_title">
                <font style="color: rgb(218, 137, 7);">Notice</font> Board
            </div>
            <div class="list_data">
                <ul class="list-group" style="border: none;">
                    <li class="list-group-item">
                        <b>Notice</b>
                    </li>
                    <li class="list-group-item">
                        Result for 10th
                        <br>
                        &nbsp;<span>20 Jan 2025</span>
                    </li>
                    <li class="list-group-item">
                        Independance Day
                        <br>
                        &nbsp;<span>15 Aug 2025</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="cboxes" id="notice_board_area">
            <div class="box_title">Today's Attendance</div>
            <div class="chart_area">
                <img src="assets/chart.svg" alt="">
            </div>
        </div>

      

    </div>
</div>