<div class="admin_dashboard">
    <div class="dashboard_box_area">
        <div class="boxes">
            <p>Total Admissions</p>
            <h3 style="color: yellow;">{{allAdmissions}}</h3>
        </div>
        <div class="boxes">
            <p>Total Registrations</p>
            <h3 style="color: rgb(123, 157, 219);">{{allApplications}}</h3>
        </div>
        <div class="boxes">
            <p>Total Employee</p>
            <h3 style="color: rgb(231, 93, 75);">
                {{allEmployee}}
            </h3>
        </div>
        <div class="boxes">
            <p>Total Faculties</p>
            <h3 style="color: rgb(23, 222, 23);">{{faculty}}</h3>
        </div>
        <div class="boxes">
            <p>Total Vehicle</p>
            <h3 style="color: chocolate;">{{allVehicle}}</h3>
        </div>
    </div>

    <div class="chart_data_area">
        <div class="cboxes" id="recent_enrolments_area">
            <div class="box_title">Recent <font style="color: rgb(218, 137, 7);">Enrolments</font>
            </div>
            <div class="list_data">

                <ul class="list-group" style="border: none;">
                    <li style="padding: 10px;">
                        <b>New Applications</b>
                    </li>
                    <li class="list-group-item" *ngFor="let applicaion of applicationList.slice().reverse().slice(0,2)">
                        {{applicaion.name}}
                        <br>
                        &nbsp;<span>{{applicaion.mobile}}</span>
                    </li>
                    <button mat-button routerLink="/admin/home/course_application">View more</button>
                </ul>
            </div>
        </div>
        <div class="cboxes" id="notice_board_area">
            <div class="box_title">
                <font style="color: rgb(218, 137, 7);">Notice</font> Board
            </div>
            <div class="list_data">
                <ul class="list-group" style="border: none;">
                    <li style="padding: 10px;">
                        <b>Notice</b>
                    </li>
                    <li class="list-group-item" *ngFor="let notice of noticeList.slice().reverse().slice(0,2)">
                        {{notice.notice}}
                        <br>
                        &nbsp;<span>{{notice.notice_date | date : 'dd MMM yyyy'}}</span>
                    </li>
                    <!-- <li class="list-group-item">
                        Independance Day
                        <br>
                        &nbsp;<span>15 Aug 2025</span>
                    </li> -->
                    <button mat-button routerLink="/admin/home/master_data_notice">View more</button>
                </ul>
            </div>
        </div>
        <div class="cboxes" id="notice_board_area">
            <div class="box_title">Today's Attendance</div>
            <div class="chart_area">
                <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'300px'}"></canvasjs-chart>
            </div>
        </div>
        <div class="cboxes" id="notice_board_area">
            <div class="box_title">Our School</div>
            <div class="chart_area">
                <canvasjs-chart [options]="chartOptionss" [styles]="{width: '100%', height:'300px'}"></canvasjs-chart>
            </div>
        </div>
    </div>
</div>