.admin_dashboard {
  width: 100%;
  height: calc(100vh - 64px);
  float: left;
  background-color: rgba(220, 220, 220, 0.064);
}

.dashboard_box_area {
  width: 100%;
  height: 250px;
  float: left;
  background-color: #1d2028;
}

.boxes {
  width: 20%;
  height: 30%;
  border-right: 1px solid silver;
  float: left;
  margin-top: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: "Nunito Sans", serif;
}

.boxes p {
  font-size: 16px;
}

.boxes h3 {
  font-size: 28px;
}

.boxes:nth-child(5) {
  border: none;
}

.chart_data_area {
  width: 100%;
  height: auto;
  float: left;
  // background-color: gray;
  margin-top: -80px;
}

.cboxes {
  width: 47%;
  height: 250px;
  background-color: rgb(253, 253, 253);
  box-shadow: 2px 2px 3px rgb(188, 188, 188);
  float: left;
  border-radius: 1rem;
  margin-left: 2%;
}

.cboxes:nth-child(3) {
  width: 47%;
  height: 400px;
  margin-top: 2%;
  margin-bottom: 20px;
  overflow: hidden;
}

.cboxes:nth-child(4) {
  width: 47%;
  height: 400px;
  margin-top: 2%;
  margin-bottom: 20px;
  overflow: hidden;

  .chart_area {
    padding: 15px;

  }
}

.cboxes:nth-child(3) img {
  // width: 100%;
  height: 100%;
  object-fit: cover;
}

.chart_area {
  width: 100%;
  height: calc(100% - 50px);
  float: left;
}

.box_title {
  width: 100%;
  height: 50px;
  float: left;
  font-size: 17px;
  padding: 15px;
}

.list_data {
  width: 100%;
  height: calc(100% - 50px);
  float: left;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;

  ul {
    width: 100%;
    border-radius: 0;
    border-bottom: 1px solid rgb(245, 245, 245);
  }

  ul li {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(230, 230, 230);

    span {
      font-size: 12px;
      color: orange;
    }
  }
}

// media query start from here

@media (max-width: 820px) and (min-width: 0px) {
  .dashboard_box_area {
    width: 100%;
    height: 100%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
  }

  .boxes {
    width: 90%;
    height: 15%;
    margin-left: 5%;
    // margin-top: 6%;
    border-right: none;
    border-bottom: 1px solid rgb(120, 117, 117);
  }
}