<div class="add_btn">
    <input class="form-control" type="search" placeholder="Search..." aria-label="default input example">
    <button type="button" class="btn btn-danger" (click)="add_new_batch()">+ Add New</button>
</div>

<div class="registration_box">
    <div class="registration_table_area" *ngFor="let cls of batch_list">
        <div class="title">{{cls.class}}</div>
        <button mat-icon-button (click)="delete_batch(cls.class)">
            <mat-icon>delete</mat-icon>
        </button>
        <table class="table table-striped" style="text-align: center;">
            <thead>
                <tr>
                    <th scope="col">S.N.</th>
                    <th scope="col">Batch Time</th>
                    <th scope="col">Subject Name</th>
                    <th scope="col">Faculty</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let batch of cls.batches; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{batch.time}}</td>
                    <td>{{batch.subject}}</td>
                    <td>{{batch.name}}</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>