<div class="registration_box">
    <div class="registration_table_area">
        <div class="header_title">
            <div class="title">All Roles</div>
            <div class="add_btn">
                <button type="button" class="btn btn-danger" (click)="add_new_role()">+ Add New</button>
            </div>
            <div class="search_box">
                <input class="form-control" type="search" placeholder="Search..." aria-label="default input example">
            </div>
        </div>

        <table class="table table-striped" style="text-align: center;">
            <thead>
                <tr>
                    <th scope="col">S.N.</th>
                    <th scope="col">Role</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Faculty</td>
                    <td>
                        <button mat-icon-button (click)="delete_role()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>CEO</td>
                    <td>
                        <button mat-icon-button (click)="delete_role()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>CTO</td>
                    <td>
                        <button mat-icon-button (click)="delete_role()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Manager</td>
                    <td>
                        <button mat-icon-button (click)="delete_role()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Staff Faculty</td>
                    <td>
                        <button mat-icon-button (click)="delete_role()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>

    <div class="copyright">
        SawamiVivekaNand &copy; All Rights Reserved 2025.
    </div>
</div>