<div class="registration_form">
    <div class="form_head">
        <h3>Add New Vehicle</h3>
        <p mat-dialog-close>
            <mat-icon>cancel</mat-icon>
        </p>
    </div>
    <div class="form_area">
        <div class="title">Vehicle Details</div>
        <form [formGroup]="vehicleForm">

            <mat-form-field appearance="outline">
                <mat-label>Vehicle Name</mat-label>
                <input matInput placeholder="Enter Vehicle Name" type="text" formControlName="vehicle_name">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Vehicle Number</mat-label>
                <input matInput placeholder="Enter Vehicle Number" type="text" formControlName="vehicle_no">
            </mat-form-field>

            <input type="number" [ngModel]="admin" formControlName="admin_id_fk" readonly hidden>
        </form>

    </div>

    <div class="btn_area">
        <button type="button" class="btn btn-danger" id="cancel" (click)="resetForm()">Reset</button>
        <button type="button" class="btn btn-primary" id="submit" (click)="onSubmit()">Submit</button>
    </div>
</div>