<div class="registration_box">
    <div class="registration_table_area">
        <div class="header_title">
            <div class="title">All Classes </div>
            <!-- <div class="add_btn">
                <button type="button" class="btn btn-danger" (click)="add_new_class()">+ Add New</button>
            </div> -->
            <!-- <div class="search_box">
                <input class="form-control" type="search" placeholder="Search..." aria-label="default input example">
            </div> -->
        </div>

        <table class="table table-striped" style="text-align: center;">
            <thead>
                <tr>
                    <th scope="col">S.N.</th>
                    <th scope="col">Class Name</th>
                    <!-- <th scope="col">Action</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cls of class_list; let i=index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{cls}}</td>
                </tr>
            </tbody>
        </table>


    </div>
</div>