<div class="registration_form">
    <div class="form_head">
        <h3>Register New Student</h3>
        <p mat-dialog-close>
            <mat-icon>cancel</mat-icon>
        </p>
    </div>
    <div class="form_area">
        <div class="title">Personal Details</div>

        <form [formGroup]="AddmissionForm">

            <mat-form-field appearance="outline">
                <mat-label>Student Name</mat-label>
                <input matInput placeholder="Enter Student Name" formControlName="name">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Father's Name</mat-label>
                <input matInput placeholder="Enter Student Name" formControlName="father_name">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Mother's Name</mat-label>
                <input matInput placeholder="Enter Student Name" formControlName="mother_name">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Email Address</mat-label>
                <input matInput placeholder="Enter Student Name"  type="email" [email]="true"
                    formControlName="email" required>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Mobile Number</mat-label>
                <input type="tel" number matInput placeholder="Enter Student Name" formControlName="mobile"
                    minlength="10" maxlength="10" pattern="\d{10}" (keyup)="validateMobile()">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Aadhar Number</mat-label>
                <input type="tel" number matInput placeholder="Enter Student Name" formControlName="adhar"
                    minlength="12" maxlength="12" pattern="\d{12}" (keyup)="validateAdhar()">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Enter Student Name" type="password" formControlName="password">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>D.O.B.</mat-label>
                <input matInput placeholder="Enter Student Name" type="date" formControlName="dob">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Admission Date</mat-label>
                <input matInput placeholder="Enter Student Name" type="date" formControlName="addmission_date">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Select Gender</mat-label>
                <mat-select formControlName="gender">
                    <mat-option *ngFor="let gend of gender" [value]="gend">{{gend}}</mat-option>
                </mat-select>
            </mat-form-field>

            <div class="upload-container">
                <img *ngIf="imagePreview" [src]="imagePreview" alt="Image Preview" class="preview-img"><br>
                <label for="fileUpload" class="custom-file-upload">Choose Image</label>
                <input type="file" id="fileUpload" (change)="onFileSelected($event)" accept="image/*"
                    formControlName="profile">
            </div>


            <div class="title" style="margin-top: 20px;">School Details</div>

            <mat-form-field appearance="outline">
                <mat-label>Select Class</mat-label>
                <mat-select formControlName="class">
                    <mat-option *ngFor="let cls of classes" [value]="cls">{{cls}}</mat-option>

                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Select Section</mat-label>
                <mat-select formControlName="section">
                    <mat-option *ngFor="let sect of sections" [value]="sect">{{sect}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Roll No.</mat-label>
                <input matInput placeholder="Enter Student Name" type="number" formControlName="roll_no">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <input matInput placeholder="Enter Student Name" type="text" formControlName="address">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Assign Hostel</mat-label>
                <mat-select formControlName="hostel">
                    <mat-option value="1">Yes</mat-option>
                    <mat-option value="0">No</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Assign Transport</mat-label>
                <mat-select formControlName="transport">
                    <mat-option value="1">Yes</mat-option>
                    <mat-option value="0">No</mat-option>
                </mat-select>
            </mat-form-field>

            <input type="number" [ngModel]="admin" formControlName="admin_id_fk" readonly hidden>

        </form>

    </div>

    <div class="btn_area">
        <button type="button" class="btn btn-danger" id="cancel" (click)="resetForm()">Reset</button>
        <button type="button" class="btn btn-primary" id="submit"
            (click)="edit_data?onUpdate():onSubmit()">{{edit_data?'Update':'Submit'}}</button>
    </div>
</div>