<div class="registration_box">
    <div class="registration_table_area">
        <div class="header_title">
            <div class="title">Annual Holidays 2025</div>
            <div class="add_btn">
                <!-- <button type="button" class="btn btn-danger">+ Add New</button> -->
            </div>
            <div class="search_box">
                <!-- <input class="form-control" type="" placeholder="Search..." aria-label="default input example"> -->
            </div>
        </div>

        <table class="table table-striped" style="text-align: center;">
            <thead>
                <tr>
                    <th scope="col">S.N.</th>
                    <th scope="col">Ocassion Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Day</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1.</th>
                    <td>New Year</td>
                    <td>1st January</td>
                    <td>Friday</td>
                </tr>
                <tr>
                    <th scope="row">2.</th>
                    <td>Makar Sankranti</td>
                    <td>14th January</td>
                    <td>Thrusday</td>
                </tr>
                <tr>
                    <th scope="row">3.</th>
                    <td>Makar Sankranti</td>
                    <td>14th January</td>
                    <td>Friday</td>
                </tr>
                <tr>
                    <th scope="row">4.</th>
                    <td>Republic Day</td>
                    <td>26th January</td>
                    <td>Tuesday</td>
                </tr>
                <tr>
                    <th scope="row">5.</th>
                    <td>Dhuleti</td>
                    <td>25 March</td>
                    <td>Monday</td>
                </tr>
                <tr>
                    <th scope="row">6.</th>
                    <td>Independence Day</td>
                    <td>15th August</td>
                    <td>Thrusday</td>
                </tr>
                <tr>
                    <th scope="row">7.</th>
                    <td>Rakshabandhan</td>
                    <td>19th August</td>
                    <td>Monday</td>
                </tr>
                <tr>
                    <th scope="row">8.</th>
                    <td>Janmashtami</td>
                    <td>26th August</td>
                    <td>Monday</td>
                </tr>
                <tr>
                    <th scope="row">9.</th>
                    <td>Gandhi Jayanti</td>
                    <td>2nd October</td>
                    <td>Wednesday</td>
                </tr>
                <tr>
                    <th scope="row">10.</th>
                    <td>Vijaya Dashmi</td>
                    <td>12th October</td>
                    <td>Saturday</td>
                </tr>
                <tr>
                    <th scope="row">11.</th>
                    <td>Diwali</td>
                    <td>1st November</td>
                    <td>Friday</td>
                </tr>
                <tr>
                    <th scope="row">12.</th>
                    <td>Gujrati New Year</td>
                    <td>2nd November</td>
                    <td>Saturday</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>