<div class="assignment">
    <div class="assignment-card" *ngFor="let assignment of assignmentList">
        <div class="header">
            <h2 class="title">📘 {{assignment.title}}</h2>
            <span class="faculty">👨‍🏫 {{assignment.faculty_name}}</span>
        </div>

        <div class="content">
            <div class="section">
                <label>Description:</label>
                <p>{{assignment.description}}</p>
            </div>

            <div class="section">
                <label>Reference URL:</label>
                <a href="{{assignment.reference_url}}" target="_blank" style="display: block;">
                    {{assignment.reference_url}}
                </a>
            </div>

            <div class="section deadline">
                <label>Deadline:</label>
                <p>📅 {{assignment.deadline | date : 'dd MMM yyyy'}}</p>
            </div>
        </div>
    </div>
</div>