<div class="feedback_box">
    <mat-card class="feedback-card">
        <mat-card-title>💬 Feedback & Suggestions</mat-card-title>

        <form class="form-content" [formGroup]="feedbackForm">

            <mat-form-field appearance="outline">
                <mat-label>Subject</mat-label>
                <input matInput placeholder="Enter Regarding Subject..." formControlName="title"/>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput rows="4" placeholder="Write your feedback or suggestion" formControlName="description"></textarea>
            </mat-form-field>

            <button mat-raised-button color="primary" (click)="onSubmit()">
                Submit Feedback
            </button>
        </form>
    </mat-card>

</div>