.feedback_box{
  width: 100%;
  height: calc(100vh - 64px);
}
.feedback-card {
  max-width: 500px;
  margin: 2rem auto;
  padding: 1.5rem;
  border-radius: 16px;
  // box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.011);
  margin-top: 50px;

  mat-card-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .form-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    mat-form-field {
      width: 100%;
    }

    button {
      align-self: flex-end;
      font-weight: 600;
      padding: 0.5rem 1.5rem;
    }
  }
}