<mat-sidenav-container class="container-fluid">

    <mat-sidenav #sidebar mode="side" opened>
        <div class="sidebar_top_logo_area">
            <img src="assets/svsnn.png" alt="">
        </div>
        <div class="sidebar_menu_area">


            <button class="btn" routerLink="std_dashboard" routerLinkActive="active">
                <mat-icon>dashboard</mat-icon>
                Dashboard
            </button>

            <button class="btn" routerLink="assignments" routerLinkActive="active">
                <mat-icon>assignment</mat-icon>
                Assignments
            </button>

            <button class="btn" routerLink="fee_structure" routerLinkActive="active">
                <mat-icon>tune</mat-icon>
                Fees Structure
            </button>

            <button class="btn" routerLink="std_exams" routerLinkActive="active">
                <mat-icon>chrome_reader_mode</mat-icon>
                Exam Tests
            </button>

            <button class="btn" routerLink="syllabus" routerLinkActive="active">
                <mat-icon>library_books</mat-icon>
                Syllabus
            </button>

            <button class="btn" routerLink="attendance" routerLinkActive="active">
                <mat-icon>trending_up</mat-icon>
                Attendance
            </button>

            <button class="btn" routerLink="std_holiday" routerLinkActive="active">
                <mat-icon>calendar_today</mat-icon>
                Annual Holidays
            </button>

            <button class="btn" routerLink="std_feedback" routerLinkActive="active">
                <mat-icon>feedback</mat-icon>
                Feedback & Suggetions
            </button>

        </div>
    </mat-sidenav>

    <mat-sidenav-content>

        <mat-toolbar class="dashboard_top_head">
            <mat-icon (click)="sidebar.toggle()">menu</mat-icon>
            <div class="top_head_details_area">
                <div class="icons_area"></div>
                <div class="user_details_with_login_icon">
                    <div class="user_icon">
                        <img src="assets/myresimg.png" alt="">
                    </div>
                    <div class="user_name">Rohit Kumar</div>
                    <div class="user_title">
                        <h3>Student</h3>
                    </div>
                </div>
            </div>
        </mat-toolbar>

        <div class="main">
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>