<div class="slider">
    <ngb-carousel id="img_slider" style="width: 100%;">
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../../assets/img1.jpg" alt="Random first slide" />
            </div>
            <div class="carousel-caption">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../../assets/img2.jpg" alt="Random second slide" />
            </div>
            <div class="carousel-caption">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../../assets/img3.jpg" alt="Random third slide" />
            </div>
            <div class="carousel-caption">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../../assets/img4.jpg" alt="Random third slide" />
            </div>
            <div class="carousel-caption">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../../assets/img5.jpg" alt="Random third slide" />
            </div>
            <div class="carousel-caption">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../../assets/img6.jpg" alt="Random third slide" />
            </div>
            <div class="carousel-caption">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../../assets/img7.jpg" alt="Random third slide" />
            </div>
            <div class="carousel-caption">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../../assets/img8.jpg" alt="Random third slide" />
            </div>
            <div class="carousel-caption">
                <h1>Third slide label</h1>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </ng-template>
    </ngb-carousel>
</div>

<div class="about">
    <h1>About Us</h1>

    <div class="about_content">
        <img src="../../../assets/head.jpg" alt="">
        <p>
            <span>Welcome To <font style="color: darkred;">Swami Vivekanand Shiksha Niketan School</font>
               <br> Best Education in Our School.
            </span><br>
            SVSN Junior/Senior School is a Co-Educational English Medium School having classes from Nursery to Std. XII.
            It was established in 1998 and has been administrated by Pratibha Vikash Kendra registered under the trust
            Reg. Act. 1882 in the chairmanship of Mrs. Pratibha Singh.
            SVSN Junior / Senior School is located at Om Shanti Chowk, Ghoswar, Hajipur, Vaishali, Bihar (844101) a
            healthy and peaceful locality of Hajipur. The location of the school is very congenial having a friendly and
            peaceful neighborhood. The spot is immaculate, hygienic and completely pollution free having abundance of
            green surrounding and more than three acres of its own land with protected campus.
        </p>
    </div>
</div>
<div class="about">
    <h1>Director's Message</h1>

    <div class="about_content" style="display: flex;flex-direction: row-reverse;" id="abbt">
        <img src="../../../assets/head.jpg" alt="">
        <p style="padding-right: 40px;">
            <span>FOUNDER DIRECTOR'S MESSAGE</span><br>
            It is with great pleasure and enthusiasm that I welcome you to Swami Vivekanand Shiksha Niketan . As the Director of this institution, I am honored to be part of a dedicated team that is committed to providing a nurturing and exceptional educational experience for our students. At Swami Vivekanand Shiksha Niketan , we believe in the transformative power of education. Our mission is to create a stimulating and inclusive environment where every student can thrive academically, develop essential life skills, and explore their passions. We are dedicated to fostering a culture of curiosity, creativity, and excellence.
        </p>
    </div>
</div>
<div class="chairman">
    <h1>Chairman's Message</h1>
    <p>
        "Child is the future of our nation" childhood is very precious as our habits are formed in this age which helps
        to develop child's abilities and potential. Thus our prime aim is to make child conscious of his abilities and
        potential. We believe in learning by doing to create confidence and mould children's behaviour by inculcating
        moral values and making them creative and sensitive human being .We provide knowledge by using latest technology
        and modern methods.
    </p>
</div>
<div class="chairman">
    <h1>Our Vision & Mission</h1>
    <p>
        Swami Vivekanand Shiksha Niketan School future will be shaped by the core values that have defined our past:
        academic freedom, tolerance, and experimentation. Our vision is of a natural, holistic,student-centered learning
        environment that empowers and inspires our students to be creative, innovative, green leaders. "Every child who
        leaves our school will have the social and academic skills and abilities to make choices in their lives."
    </p>
</div>

<h1>Our Facilities</h1>
<div class="facilites">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Transport</mat-card-title>
                <mat-card-subtitle>See our transport facility</mat-card-subtitle>
                <img mat-card-sm-image src="../../../assets/transport.webp">
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            The school bus is available to all students. The bus fee must be paid on a monthly basis , failing which the
            transport in charge will be authorized to cancel the students..
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Art Room</mat-card-title>
                <mat-card-subtitle>Art facility</mat-card-subtitle>
                <img mat-card-sm-image src="../../../assets/art.webp">
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            A Heaven for our creative students, who are passionate to convert imagination into beautiful art and craft
            work.
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Dance and music</mat-card-title>
                <mat-card-subtitle>Best dance teacher</mat-card-subtitle>
                <img mat-card-sm-image src="../../../assets/dance.webp">
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            Dance and music form a part of our culture and tradition and we at St. Mary's Public School believe in
            preservation and upliftment of our culture and heritage in all ways.
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Library</mat-card-title>
                <mat-card-subtitle>Watch Our Library</mat-card-subtitle>
                <img mat-card-sm-image src="../../../assets/library.webp">
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            “If you don’t like to read, You haven’t found the right book.”- J.K.Rowling" To inculcate the habit of
            reading among students, library plays a very important role.
        </mat-card-content>
    </mat-card>
</div>

<div class="chairman">
    <h1>Laboratries</h1>
    <p>
        Computer Labs are upgraded every year to keep up the labs with the latest technologies. All computers have
        latest facilities. Each student is allotted a separate computer to do the practicals. Demonstrations are given
        in the demonstration room, where teaching is done with the help of LCD projector. The school has well equipped
        laboratories for Biology, Chemistry, Physics, and Computer Science. Keeping in view the latest curriculum, labs
        for Mathematics,& fine Arts, and have also been developed.
    </p>
</div>
<div class="chairman">
    <h1>Digital Class Rooms</h1>
    <p>
        To keep pace with the changing scenario of education in the present virtual times, the school has smart class
        rooms furnished with projectors and advanced software to facilitate teaching of various subjects. The school has
        introduced unique 3rd Generation Smart Class rooms with animated course contents to make the teaching more
        innovative, effective and interesting.
    </p>
</div>
<div class="chairman">
    <h1>Sports & Games</h1>
    <p>
        Sports and Games have been an integral part of school life as mind and body are inseparable. Sports and Games
        not only enliven and refresh the body, they also activate and boost the performance of the mind and at the same
        time play a great role in disciplining the whole person. Keeping this in mind the following are some of the
        facilities offered to our students now.
    </p>
</div>