<div class="registration_box">
    <div class="registration_table_area">
        <div class="header_title">
            <div class="title">All Categories</div>
            <div class="add_btn">
                <button type="button" class="btn btn-danger" (click)="add_new_product()">+ Add New</button>
            </div>
            <div class="search_box">
                <input class="form-control" type="search" placeholder="Search..." aria-label="default input example">
            </div>
        </div>

        <table class="table table-striped" style="text-align: center;">
            <thead>
                <tr>
                    <th scope="col">S.N.</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Class</th>
                    <th scope="col">Price</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Shirt Pant</td>
                    <td>4th</td>
                    <td>4000</td>
                    <td>
                        <button mat-icon-button>
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <button mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="delete_products()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Shirt Pant</td>
                    <td>6th</td>
                    <td>6000</td>
                    <td>
                        <button mat-icon-button>
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <button mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="delete_products()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Shirt Pant</td>
                    <td>10th</td>
                    <td>7000</td>
                    <td>
                        <button mat-icon-button>
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <button mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="delete_products()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Shirt Pant</td>
                    <td>11th</td>
                    <td>5000</td>
                    <td>
                        <button mat-icon-button>
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <button mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="delete_products()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Shirt Pant</td>
                    <td>2nd</td>
                    <td>4000</td>
                    <td>
                        <button mat-icon-button>
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <button mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="delete_products()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>
</div>