<div class="about">
    <div class="content">
        <div class="main_content">
            <h2>About School</h2>
            <p>
                SVSN Junior/Senior School is a Co-Educational English Medium School having classes from Nursery to Std.
                XII. It was established in 1998 and has been administrated by Pratibha Vikash Kendra registered under
                the trust Reg. Act. 1882 in the chairmanship of Mrs. Pratibha Singh.
                SVSN Junior / Senior School is located at Om Shanti Chowk, Ghoswar, Hajipur, Vaishali, Bihar (844101) a
                healthy and peaceful locality of Hajipur. The location of the school is very congenial having a friendly
                and peaceful neighborhood. The spot is immaculate, hygienic and completely pollution free having
                abundance of green surrounding and more than three acres of its own land with protected campus.
            </p>
            <h2>What makes us Special?</h2>
            <p>
                <span>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                    Joyful, Nurturing, Enriching Child-Friendly Environment.</span><br>
                <span>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                    Innovative Curriculum based on NCERT & CBSE Pattern.</span><br>
                <span>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                    Theme-based Experiential Programme.</span><br>
                <span>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                    Health & Wellness Morning Programme.</span><br>
                <span>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                    Value-based Learning Programme.</span><br>
                <span>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                    Technology Based Learning Programme.</span><br>
                <span>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                    Special English Language Development Programme in the Digital Language Lab.</span><br>
                <span>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                    Stage Exposure and Co-curricular activities.</span><br>
                <span>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                    Caring & Highly Trained Teachers.</span><br>
                <span>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                    Active Parent Participation Programme.</span><br>
                <span>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                    Edutrips, Birthday celebrations, Picnics etc.</span>
            </p>
        </div>
    </div>
    <div class="img_area">
        <img src="../../../assets/img2.jpg" alt="">
    </div>
</div>

<div class="about" style="flex-direction: row-reverse;">
    <div class="content">
        <div class="main_content">
            <h2>OUR INFRASTRUCTURE</h2>
            <p>
                SVSN Junior / Senior School is located at Om Shanti Chowk, Ghoswar, Hajipur, Vaishali, Bihar (844101) a
                healthy and peaceful locality of Hajipur. The location of the school is very congenial having a friendly
                and peaceful neighborhood. The spot is immaculate, hygienic and completely pollution free having
                abundance of green surrounding and more than three acres of its own land with protected campus.
            </p>
            <h2>Building</h2>
            <p>
                The school is well equipped with adequate infrastructure. Additions and improvement are constantly being
                carried out. The school building is equipped with all modern amenities.
                <br>
                The campus has child friendly ambience.
                <br>
                <span>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                    Digital Class Rooms.</span><br>
                <span>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                    Dance hall for kids to tap their feet to the rhythm of music.</span><br>
                <span>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                    Computer lab with 24 computers. Provision for expansion with time.</span><br>
                <span>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                    Library with 800 + books for students, to develop their reading skills and enhance their
                    vocabulary.</span><br>
                <span>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                    Huge common hall where extracurricular activities and group projects are done.</span><br>
                <span>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                    For pre primary kids, a big activity rooms with colorful and attractive toys, walls are painted with
                    concepts of Zoo, farms etc.</span><br>
                <span>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                    While constructing the school, all the aspects were well planned and executed, be it furniture or
                    walls.</span><br>
            </p>
        </div>
    </div>
    <div class="img_area">
        <img src="../../../assets/1700025405-1796847706554543d96626!4.jpg" alt="">
    </div>
</div>

<div class="about">
    <div class="content">
        <div class="main_content">
            <h2>AIM & OBJECTIVES</h2>
            <p>
                The school believes in the worth and uniqueness of every child. We help the young minds widen their
                horizons to learn and think for themselves. We strive to inculcate in them certain moral, social and
                intellectual values through proper guidance and quality education.
                <br>
                The overall objectives of the school are to develop the following qualities in its students:
                <br>
            </p>
            <p>
                <span>(i) Self-respect and respect for the rights of others.</span><br>
                <span>(ii) Honesty, Sincerity, Generosity and Tolerance.</span><br>
                <span>(iii) Courage to face reality, optimism and dignity of labour</span><br>
                <span>(iv) A deep sense of commitment of Justice and Equality.</span><br>
                <span>Quest for knowledge through observation, exploration, analysis and evaluation.
                </span><br>
                <span>To meet these objectives, a proper environment is created in which the young minds develop their personal and social virtues through discipline and loving guidance.</span>
            </p>
        </div>
    </div>
    <div class="img_area" style="padding: 20px 60px;">
        <img src="../../../assets/goal.webp" alt="">
    </div>
</div>

<div class="about" style="flex-direction: row-reverse;">
    <div class="content">
        <div class="main_content">
            <h2>FACILITIES</h2>
            <p>
                Our vision is to foster a dynamic learning community where students are inspired to reach their full potential. We strive to create an inclusive and innovative environment that promotes academic excellence, personal growth, and social responsibility. Our aim is to empower students to become lifelong learners, critical thinkers, and compassionate leaders, equipped to navigate a rapidly changing world with confidence and integrity..
                <br>
            </p>
            <p>
                <span>(i) Computer Lab</span><br>
                <span>(ii) Mathematics Lab</span><br>
                <span>(iii) Science Lab</span><br>
                <span>(iv) Ultra Smart Classroom</span><br>
                <span>(v) Music & Dance Room</span><br>
                <span>(vi) Library</span><br>
                <span>(vii) Indoor Sports Area</span>
            </p>
        </div>
    </div>
    <div class="img_area" style="padding: 20px 60px;">
        <img src="../../../assets/facilities.webp" alt="">
    </div>
</div>