.about {
    width: 100%;
    height: auto;
    display: flex;

    .content {
        width: 50%;
        height: 100%;

        .main_content {
            padding: 25px 40px;
            
            h2{
                color: rgb(95, 42, 42);
            }

            p {
                font-size: 1rem;
                line-height: 30px;
                text-align: justify;

                span {
                    line-height: 35px;

                    mat-icon {
                        margin-bottom: -5px;
                    }
                }
            }
        }
    }

    .img_area {
        width: 50%;
        height: 100%;
        padding: 30px 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            border-radius: 1rem;
        }
    }
}

@media(max-width:1000px) and (min-width:0px){
    .about{
        flex-flow: column-reverse!important;

        .content{
            width: 100%;
        }
        .img_area{
            width: 100%;
            padding: 15px!important;
            height: 400px;

            img{
                height: 100%;
                object-fit: cover;
            }
        }
    }
}