<div class="admin_login">
    <div class="login_boxes">
        <img src="assets/Login_img.svg" alt="">
    </div>
    <div class="login_boxes">

        <div class="school_logo">
            <img src="assets/svsn.png" alt="">
        </div>

        <div class="welcome_title">
            <h1>Welcome Back !</h1>
        </div>

        <div class="form_area">
            <div class="form-floating mb-4">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
        </div>

        <div class="buttons_area">
            <button type="button" class="btn">Sign in</button>
            <button type="button" class="btn">Forgot Password</button>
            <button type="button" class="btn"> &larr; Go Back to Home Page</button>
        </div>

    </div>



    <!-- <button routerLink="admin_home">go to admin panel dashboard</button> -->
</div>