<mat-sidenav-container class="container-fluid">

    <mat-sidenav #sidebar mode="side" opened>
        <div class="sidebar_top_logo_area">
            <img src="assets/svsnn.png" alt="">
        </div>
        <div class="sidebar_menu_area">


            <button class="btn" routerLink="dashboard" [ngClass]="{'active':activeButton ===1}" (click)="setActive(1)"
                routerLinkActive="active">
                <mat-icon>dashboard</mat-icon>
                Dashboard
            </button>

            <!-- Account  -->
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#account" aria-expanded="true"
                aria-controls="collapseExample" (click)="toggle()" [ngClass]="{'active':activeButton ===2}"
                (click)="setActive(2)" routerLinkActive="active">
                <mat-icon>account_box</mat-icon>
                Account
                <mat-icon style="float: right;"
                    [@rotateIcon]="isOpen ? 'open' : 'closed'">keyboard_arrow_left</mat-icon>
            </button>
            <div class="collapse" id="account">
                <button class="options" routerLink="account_role" routerLinkActive="active">
                    <mat-icon>arrow_right_alt</mat-icon>
                    Role
                </button>
                <button class="options" routerLink="account_user" routerLinkActive="active">
                    <mat-icon>arrow_right_alt</mat-icon>
                    User
                </button>
            </div>

            <!-- Registrations  -->
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#register" aria-expanded="true"
                aria-controls="collapseExample" (click)="regToggle()" [ngClass]="{'active':activeButton ===3}"
                (click)="setActive(3)" routerLinkActive="active">
                <mat-icon>account_circle</mat-icon>
                Registration
                <mat-icon style="float: right;"
                    [@rotateIcon]="isOpen2 ? 'open' : 'closed'">keyboard_arrow_left</mat-icon>
            </button>
            <div class="collapse" id="register">
                <button class="options" routerLink="course_application" routerLinkActive="active">
                    <mat-icon>arrow_right_alt</mat-icon>
                    Course Application
                </button>
                <button class="options" routerLink="course_admission" routerLinkActive="active">
                    <mat-icon>arrow_right_alt</mat-icon>
                    Admissions
                </button>
            </div>

            <button class="btn" routerLink="events" [ngClass]="{'active':activeButton ===4}" (click)="setActive(4)"
                routerLinkActive="active">
                <mat-icon>event</mat-icon>
                Events
            </button>

            <!-- Master Data  -->
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#masterData"
                aria-expanded="true" aria-controls="collapseExample" (click)="mdtoggle()"
                [ngClass]="{'active':activeButton ===5}" (click)="setActive(5)" routerLinkActive="active">
                <mat-icon>perm_data_setting</mat-icon>
                Master Data
                <mat-icon style="float: right;"
                    [@rotateIcon]="isOpen3 ? 'open' : 'closed'">keyboard_arrow_left</mat-icon>
            </button>
            <div class="collapse" id="masterData" routerLinkActive="active">
                <!-- <button class="options" routerLink="master_data_module">
                    <mat-icon>arrow_right_alt</mat-icon>
                    Module
                </button> -->
                <button class="options" routerLink="master_data_class" routerLinkActive="active">
                    <mat-icon>arrow_right_alt</mat-icon>
                    Class
                </button>
                <button class="options" routerLink="master_Data_subj" routerLinkActive="active">
                    <mat-icon>arrow_right_alt</mat-icon>
                    Subject
                </button>
                <button class="options" routerLink="master_data_batch" routerLinkActive="active">
                    <mat-icon>arrow_right_alt</mat-icon>
                    Batch Section
                </button>
                <!-- <button class="options" routerLink="master_data_course" routerLinkActive="active">
                    <mat-icon>arrow_right_alt</mat-icon>
                    Course
                </button> -->
                <button class="options" routerLink="master_data_exam" routerLinkActive="active">
                    <mat-icon>arrow_right_alt</mat-icon>
                    Examinations
                </button>
                <button class="options" routerLink="master_data_notice" routerLinkActive="active">
                    <mat-icon>arrow_right_alt</mat-icon>
                    Notice Board
                </button>
            </div>

            <!-- Faculty  -->
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#faculty" aria-expanded="true"
                aria-controls="collapseExample" (click)="fttoggle()" [ngClass]="{'active':activeButton ===6}"
                (click)="setActive(6)" routerLinkActive="active">
                <mat-icon>face</mat-icon>
                Faculty
                <mat-icon style="float: right;"
                    [@rotateIcon]="isOpen4 ? 'open' : 'closed'">keyboard_arrow_left</mat-icon>
            </button>
            <div class="collapse" id="faculty">
                <button class="options" routerLink="faculty_profile" routerLinkActive="active">
                    <mat-icon>arrow_right_alt</mat-icon>
                    Profile
                </button>
                <button class="options" routerLink="faculty_salary" routerLinkActive="active">
                    <mat-icon>arrow_right_alt</mat-icon>
                    Salary Records
                </button>
                <button class="options" routerLink="faculty_attendance" routerLinkActive="active">
                    <mat-icon>arrow_right_alt</mat-icon>
                    Faculty Attendance
                </button>
                <button class="options" routerLink="faculty_assign_btch" routerLinkActive="active">
                    <mat-icon>arrow_right_alt</mat-icon>
                    Assigned Batches
                </button>
            </div>

            <!-- Fee Structure  -->
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#fees" aria-expanded="true"
                aria-controls="collapseExample" (click)="festoggle()" [ngClass]="{'active':activeButton ===7}"
                (click)="setActive(7)" routerLinkActive="active">
                <mat-icon>tune</mat-icon>
                Fee Structure
                <mat-icon style="float: right;"
                    [@rotateIcon]="isOpen5 ? 'open' : 'closed'">keyboard_arrow_left</mat-icon>
            </button>
            <div class="collapse" id="fees">
                <button class="options" routerLink="fee_installments" routerLinkActive="active">
                    <mat-icon>arrow_right_alt</mat-icon>
                    Installments
                </button>
            </div>

            <!-- Class Schedule  -->
            <!-- <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#schedule" aria-expanded="true"
                aria-controls="collapseExample" (click)="cstoggle()" [ngClass]="{'active':activeButton ===8}"
                (click)="setActive(8)" routerLinkActive="active">
                <mat-icon>schedule</mat-icon>
                Class Schedule
                <mat-icon style="float: right;"
                    [@rotateIcon]="isOpen6 ? 'open' : 'closed'">keyboard_arrow_left</mat-icon>
            </button>
            <div class="collapse" id="schedule">
                <button class="options" routerLink="class_days" routerLinkActive="active">
                    <mat-icon>arrow_right_alt</mat-icon>
                    Class Days
                </button>
                <button class="options" routerLink="class_timing" routerLinkActive="active">
                    <mat-icon>arrow_right_alt</mat-icon>
                    Class Timing
                </button>
            </div> -->

            <!-- Inventory  -->
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#inventory" aria-expanded="true"
                aria-controls="collapseExample" (click)="intogge()" [ngClass]="{'active':activeButton ===9}"
                (click)="setActive(9)" routerLinkActive="active">
                <mat-icon>recent_actors</mat-icon>
                Inventory
                <mat-icon style="float: right;"
                    [@rotateIcon]="isOpen7 ? 'open' : 'closed'">keyboard_arrow_left</mat-icon>
            </button>
            <div class="collapse" id="inventory">
                <button class="options" routerLink="inventory_products" routerLinkActive="active">
                    <mat-icon>arrow_right_alt</mat-icon>
                    Products
                </button>
                <button class="options" routerLink="inventory_categories" routerLinkActive="active">
                    <mat-icon>arrow_right_alt</mat-icon>
                    Manage Store
                </button>
            </div>

            <!-- Transport  -->
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#transport" aria-expanded="true"
                aria-controls="collapseExample" (click)="trtoggle()" routerLinkActive="active"
                [ngClass]="{'active':activeButton ===10}" (click)="setActive(10)">
                <mat-icon> directions_car</mat-icon>
                Transport
                <mat-icon style="float: right;"
                    [@rotateIcon]="isOpen8 ? 'open' : 'closed'">keyboard_arrow_left</mat-icon>
            </button>
            <div class="collapse" id="transport">
                <button class="options" routerLink="transport_vehicle" routerLinkActive="active">
                    <mat-icon>arrow_right_alt</mat-icon>
                    Vehicle
                </button>
                <button class="options" routerLink="transport_zone" routerLinkActive="active">
                    <mat-icon>arrow_right_alt</mat-icon>
                    Zones
                </button>
                <button class="options" routerLink="transport_drivers" routerLinkActive="active">
                    <mat-icon>arrow_right_alt</mat-icon>
                    Drivers
                </button>
                <button class="options" routerLink="transport_destination" routerLinkActive="active">
                    <mat-icon>arrow_right_alt</mat-icon>
                    Destination
                </button>
            </div>

            <!-- Hostels  -->
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#hostel" aria-expanded="true"
                aria-controls="collapseExample" (click)="hsttoggle()" routerLinkActive="active"
                [ngClass]="{'active':activeButton ===11}" (click)="setActive(11)">
                <mat-icon> business</mat-icon>
                Hostel
                <mat-icon style="float: right;"
                    [@rotateIcon]="isOpen9 ? 'open' : 'closed'">keyboard_arrow_left</mat-icon>
            </button>
            <div class="collapse" id="hostel">
                <button class="options" routerLink="allocate_hostel" routerLinkActive="active">
                    <mat-icon>arrow_right_alt</mat-icon>
                    Allocate Hostel
                </button>
                <button class="options" routerLink="manage_hostel" routerLinkActive="active">
                    <mat-icon>arrow_right_alt</mat-icon>
                    Manage Hostel
                </button>
                <button class="options" (click)="onLogout()" routerLinkActive="active">
                    <mat-icon>arrow_right_alt</mat-icon>
                    Logout
                </button>
            </div>

        </div>
    </mat-sidenav>

    <mat-sidenav-content>

        <mat-toolbar class="dashboard_top_head">
            <mat-icon (click)="sidebar.toggle()">menu</mat-icon>
            <div class="top_head_details_area">
                <div class="icons_area">
                    <div class="icons">
                        <mat-icon>notifications_none</mat-icon>
                    </div>
                    <div class="icons">
                        <mat-icon> chat_bubble_outline</mat-icon>
                    </div>
                    <div class="icons">
                        <mat-icon> call</mat-icon>
                    </div>
                    <div class="icons">
                        <mat-icon>school</mat-icon>
                    </div>
                </div>
                <div class="user_details_with_login_icon" (click)="openProfileDialog()">
                    <div class="user_icon">
                        <img src="assets/akhileshsir.jpg" alt="">
                    </div>
                    <div class="user_name">Akhilesh Kumar</div>
                    <div class="user_title">
                        <h3>Admin</h3>
                    </div>
                </div>
            </div>
        </mat-toolbar>

        <div class="main">
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>